<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="ch.elexis.core.ui.Verrechnungscode">
      <Artikel
            CodeDetailDisplay="ch.elexis.base.ch.migel.ui.MiGelDetailDisplay"
            CodeSelectorFactory="ch.elexis.base.ch.migel.ui.MiGelSelector"
            ImporterClass="ch.elexis.base.ch.migel.ui.MiGelImporter"
            elexisClassName="ch.elexis.artikel_ch.data.MiGelArtikel"
            name="MiGeL"
            system="MiGeL">
      </Artikel>
   </extension>
</plugin>
