<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="com.hilotec.elexis.opendocument.docexport">
      <docexporter
            class="com.hilotec.elexis.opendocument2omnivore.Exporter"
            title="Omnivore">
      </docexporter>
   </extension>

</plugin>
