<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
<extension
         point="org.eclipse.ui.preferencePages">
         <page
            category="ch.elexis.preferences.transporters"
            class="ch.framsteg.elexis.finance.accounting.config.BillingInformationPreferencePage"
            id="ch.framsteg.elexis.finance.accounting.prefs"
            name="Buchungsliste Export Plugin (Public License)">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
           <view id="ch.framsteg.elexis.finance.accounting.views.TableView"
             name="Buchungsliste Export (Public License)"
             category="ch.elexis.abrechnungKategorie"
          class="ch.framsteg.elexis.finance.accounting.views.TableView"
          icon="icons/table.gif"/>
   </extension>

</plugin>
