<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="at.medevit.elexis.impfplan.ui.VaccinationView"
            icon="icon://IMG_SYRINGE"
            id="at.medevit.elexis.impfplan.ui.ImpfplanViewPart"
            name="%vaccPlanViewPartName"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="at.medevit.elexis.impfplan.ui.command.PerformImmunization"
            name="%performImmunization">
      </command>
      <command
            id="at.medevit.elexis.impfplan.ui.view.vaccinationHeader"
            name="select vaccination header">
         <commandParameter
               id="at.medevit.elexis.impfplan.ui.view.vaccinationHeader.headerType"
               name="headerType"
               optional="true">
         </commandParameter>
      </command>
      <command
            id="at.medevit.elexis.impfplan.ui.command.SupplementVaccination"
            name="%supplementvaccination">
      </command>
      <command
            id="at.medevit.elexis.impfplan.ui.command.PrintVaccinationEntries"
            name="%printvaccinationentries">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:at.medevit.elexis.impfplan.ui.ImpfplanViewPart">
         <command
               commandId="at.medevit.elexis.impfplan.ui.view.vaccinationHeader"
               icon="icon://IMG_FILTER"
               id="filterMenuContribution"
               style="pulldown"
               tooltip="Anzuzeigende Impfungen definieren">
            <parameter
                  name="at.medevit.elexis.impfplan.ui.view.vaccinationHeader.headerType"
                  value="HWAV">
            </parameter>
         </command>
         <command
               commandId="at.medevit.elexis.impfplan.ui.command.SupplementVaccination"
               icon="rsc/icons/clock--plus.png"
               style="push"
               tooltip="%supplementvaccination">
         </command>
         <command
               commandId="at.medevit.elexis.impfplan.ui.command.PrintVaccinationEntries"
               icon="icon://IMG_PRINTER"
               style="push"
               tooltip="%printvaccinationentries">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:filterMenuContribution">
         <dynamic
               class="at.medevit.elexis.impfplan.ui.handlers.FilterHandlerDynamicContribution"
               id="at.medevit.elexis.impfplan.ui.handlers.FilterHandlerDynamicContribution">
         </dynamic>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="at.medevit.elexis.impfplan.ui.startup.VaccinationStartup">
      </startup>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="at.medevit.elexis.impfplan.ui.handlers.VaccinationHeaderHandler"
            commandId="at.medevit.elexis.impfplan.ui.view.vaccinationHeader">
      </handler>
      <handler
            class="at.medevit.elexis.impfplan.ui.handlers.SupplementVaccinationHandler"
            commandId="at.medevit.elexis.impfplan.ui.command.SupplementVaccination">
      </handler>
      <handler
            class="at.medevit.elexis.impfplan.ui.handlers.PrintVaccinationEntriesHandler"
            commandId="at.medevit.elexis.impfplan.ui.command.PrintVaccinationEntries">
      </handler>
   </extension>

</plugin>
