<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.medevit.elexis.hin.sign.ui.handler.CreateAndOpenEPrescription"
            id="at.medevit.elexis.hin.sign.ui.eprescription.createAndOpen"
            name="HIN eRezept erstellen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.Rezepte">
         <command
               commandId="at.medevit.elexis.hin.sign.ui.eprescription.createAndOpen"
               icon="rsc/hin_erezept_16x16.png"
               label="HIN eRezept erstellen"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="ch.elexis.core.data.OutputLogDescriptor">
      <OutputLogDescriptor
            Outputter="at.medevit.elexis.hin.sign.ui.outputter.EPrescriptionOutputter"
            id="at.medevit.elexis.hin.sign.ui.eprescription.outputter">
      </OutputLogDescriptor>
   </extension>

</plugin>
