<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="org.openhealthtools.mdht.uml.cda.ch.CHPackage"
            genModel="model/ch.genmodel"
            uri="http://www.openhealthtools.org/mdht/uml/cda/ch">
      </package>
      <package
            class="org.openhealthtools.mdht.uml.hl7.vocab.VocabPackage"
            genModel="model/vocab.genmodel"
            uri="http://www.openhealthtools.org/mdht/uml/hl7/vocab">
      </package>
      <package
            class="org.openhealthtools.mdht.uml.hl7.rim.RIMPackage"
            genModel="model/rim.genmodel"
            uri="http://www.openhealthtools.org/mdht/uml/hl7/rim">
      </package>
      <package
            class="org.openhealthtools.mdht.uml.cda.ihe.pharm.PHARMPackage"
            genModel="model/pharm.genmodel"
            uri="http://www.openhealthtools.org/mdht/uml/cda/ihe/pharm">
      </package>
      <package
            class="org.openhealthtools.mdht.uml.cda.ihe.pcc.PCCPackage"
            genModel="model/pcc.genmodel"
            uri="http://www.openhealthtools.org/mdht/uml/cda/ihe/pcc">
      </package>
      <package
            class="org.openhealthtools.mdht.uml.cda.ihe.lab.LABPackage"
            genModel="model/lab.genmodel"
            uri="http://www.openhealthtools.org/mdht/uml/cda/ihe/lab">
      </package>
      <package
            class="org.openhealthtools.mdht.uml.cda.ihe.IHEPackage"
            genModel="model/ihe.genmodel"
            uri="http://www.openhealthtools.org/mdht/uml/cda/ihe">
      </package>
      <package
            class="org.openhealthtools.mdht.uml.hl7.datatypes.DatatypesPackage"
            genModel="model/datatypes.genmodel"
            uri="http://www.openhealthtools.org/mdht/uml/hl7/datatypes">
      </package>
      <package
            class="org.openhealthtools.mdht.uml.cda.cdt.CDTPackage"
            genModel="model/cdt.genmodel"
            uri="http://www.openhealthtools.org/mdht/uml/cda/cdt">
      </package>
      <package
            class="org.openhealthtools.mdht.uml.cda.ccd.CCDPackage"
            genModel="model/ccd.genmodel"
            uri="http://www.openhealthtools.org/mdht/uml/cda/ccd">
      </package>
      <package
            class="org.openhealthtools.mdht.uml.cda.CDAPackage"
            genModel="model/cda.genmodel"
            uri="urn:hl7-org:v3">
      </package>
      <package
            class="org.openhealthtools.mdht.uml.cda.CDAPackage"
            uri="urn:hl7-org:v3">
      </package>
   </extension>

</plugin>
