<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point 
		id="ch.unibe.iam.scg.archie.dataprovider"
		name="Archie Data Provider"
		schema="schema/ch.unibe.iam.scg.archie.dataprovider.exsd"
	/>

   <extension
         point="org.eclipse.ui.views">
      <view
            category="ch.unibe.iam.scg.archie.views.Archie"
            class="ch.unibe.iam.scg.archie.ui.views.StatisticsView"
            icon="icons/table.png"
            id="ch.unibe.iam.scg.archie.ui.views.StatisticsView"
            inject="true"
            name="%VIEW_MAIN"
            restorable="true">
      </view>
      <view
            category="ch.unibe.iam.scg.archie.views.Archie"
            class="ch.unibe.iam.scg.archie.ui.views.SidebarView"
            icon="icons/wand_pencil.png"
            id="ch.unibe.iam.scg.archie.ui.views.StatisticsSidebarView"
            inject="true"
            name="%VIEW_SIDEBAR"
            restorable="true">
      </view>
      <view
            category="ch.unibe.iam.scg.archie.views.Archie"
            class="ch.unibe.iam.scg.archie.ui.views.ChartView"
            icon="icons/palette.png"
            id="ch.unibe.iam.scg.archie.ui.views.ChartView"
            name="%VIEW_CHART"
            restorable="true">
      </view>
      <view
            category="ch.unibe.iam.scg.archie.views.Archie"
            class="ch.unibe.iam.scg.archie.ui.views.Dashboard"
            icon="icons/star.png"
            id="ch.unibe.iam.scg.archie.ui.views.Dashboard"
            name="%VIEW_DASHBOARD"
            restorable="true">
      </view>
      <category
            id="ch.unibe.iam.scg.archie.views.Archie"
            name="Archie">
      </category>
      <view
            category="org.eclipse.ui"
            class="org.eclipse.ui.ExtensionFactory:progressView"
            icon="icons/clock.png"
            id="org.eclipse.ui.views.ProgressView"
            name="%VIEW_PROGRESS"> 
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.unibe.iam.scg.archie.ui.perspectives.StatisticsPerspective"
            fixed="true"
            icon="icons/chart_line.png"
            id="ch.unibe.iam.scg.archie.ui.perspectives.StatisticsPerspective"
            name="%PERSPECTIVE"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.unibe.iam.scg.archie.preferences.ArchiePreferencePage"
            id="ch.unibe.iam.scg.archie.preferences.ArchiePreferencePage"
            name="Archie">
      </page>
   </extension>
   <extension
         point="ch.elexis.core.ui.Sidebar">
      <Perspektive
            ID="ch.unibe.iam.scg.archie.ui.perspectives.StatisticsPerspective"
            name="%PERSPECTIVE">
      </Perspektive>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:ch.unibe.iam.scg.archie.ui.views.StatisticsView">
         <command
               commandId="ch.unibe.iam.scg.archie.commands.CopySelected"
               icon="icons/clipboard__plus.png"
               label="Copy Selected"
               style="push"
               tooltip="Copies the currently selected items from the table to the system clipboard.">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.unibe.iam.scg.archie.ui.views.StatisticsView">
         <command
               commandId="ch.unibe.iam.scg.archie.chartWizard"
               icon="icons/chart_pie.png"
               label="chart wizard"
               style="push"
               tooltip="%CHART_DESCRIPTION">
         </command>
         <command
               commandId="ch.unibe.iam.scg.archie.exportMenu"
               icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/export.ico"
               label="export menu"
               style="pulldown"
               tooltip="%EXPORT_MENU_DESCRIPTION">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="menu:ch.unibe.iam.scg.archie.exportMenu">
         <command
               commandId="ch.unibe.iam.scg.archie.export"
               icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/page_pdf.png"
               label="PDF"
               style="push"
               tooltip="%EXPORT_PDF">
            <parameter
                  name="ch.unibe.iam.scg.archie.commandParameter.export.format"
                  value="pdf">
            </parameter>
         </command>
         <command
               commandId="ch.unibe.iam.scg.archie.export"
               icon="platform:/plugin/ch.elexis.core.ui.icons/icons/16x16/page_excel.png"
               label="CSV"
               style="push"
               tooltip="%EXPORT_CSV">
            <parameter
                  name="ch.unibe.iam.scg.archie.commandParameter.export.format"
                  value="csv">
            </parameter>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.unibe.iam.scg.archie.commands.CopySelected"
            description="Copies the currently selected items from the table to the system clipboard."
            id="ch.unibe.iam.scg.archie.commands.CopySelected"
            name="Copy Selected">
      </command>
      <command
            description="Export Menu"
            id="ch.unibe.iam.scg.archie.exportMenuuuu"
            name="Export Menu">
      </command>
      <command
            description="PDF export"
            id="ch.unibe.iam.scg.archie.export"
            name="export pdf">
         <commandParameter
               id="ch.unibe.iam.scg.archie.commandParameter.export.format"
               name="PDF"
               optional="true"
               values="pdf">
         </commandParameter>
      </command>
      <command
            description="CSV export"
            id="ch.unibe.iam.scg.archie.export"
            name="export csv">
         <commandParameter
               id="ch.unibe.iam.scg.archie.commandParameter.export.format"
               name="CSV"
               optional="true"
               values="csv">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.unibe.iam.scg.archie.handlers.ExportHandler"
            commandId="ch.unibe.iam.scg.archie.exportMenu">
      </handler>
      <handler
            class="ch.unibe.iam.scg.archie.handlers.ExportHandler"
            commandId="ch.unibe.iam.scg.archie.export">
      </handler>
      <handler
            class="ch.unibe.iam.scg.archie.handlers.ChartWizardHandler"
            commandId="ch.unibe.iam.scg.archie.chartWizard">
      </handler>
   </extension>
</plugin>
