# Build script used by gitlab.medelexis.ch
variables:
   ORIGIN_BRANCH: "target-2021-03-java11"

stages:
    - build
    - trigger_other_builds

build:
  stage: build
  tags:
  - java11
  - maven
  script:
  - if [ $(curl -s --head -w %{http_code} http://download.elexis.info/elexis/$CI_COMMIT_REF_NAME/p2/target/ -o /dev/null) == '200' ]; then export BUILD_TARGET_BRANCH=$CI_COMMIT_REF_NAME; fi 
  - if [ $(curl -s --head -w %{http_code} http://download.elexis.info/elexis/$CI_COMMIT_REF_NAME/p2/elexis-3-core/ -o /dev/null) == '200' ]; then export BUILD_CORE_BRANCH=$CI_COMMIT_REF_NAME; fi 
  - xvfb-run mvn clean verify ${BUILD_TARGET_BRANCH:+-Dgit.target.branch=$BUILD_TARGET_BRANCH} ${BUILD_CORE_BRANCH:+-Dgit.core.branch=$BUILD_CORE_BRANCH}
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY_ED25519_BASE64" | base64 -d)
  - rsync -aiv --delete --mkpath -e ssh ch.elexis.base.p2site/target/repository/ deploy@download.medelexis.ch:download.elexis.info/elexis/$CI_COMMIT_REF_NAME/p2/elexis-3-base/
  only:
  - master@elexis/elexis-3-base
  - /^\d*[.]\d*$/@elexis/elexis-3-base
  - /^[bf]\d*$/@elexis/elexis-3-base
  - target-2021-03-java11@elexis/elexis-3-base

trigger_medelexis-3-application_build:
    stage: trigger_other_builds
    script:
     -  "curl -X POST -F token=$TRIGGER_TOKEN_MEDELEXIS_3_APPLICATION -F ref=$CI_COMMIT_REF_NAME https://gitlab.medelexis.ch/api/v4/projects/13/trigger/pipeline"
    only:
    - master@elexis/elexis-3-base
    - /^\d*[.]\d*$/@elexis/elexis-3-base
    - /^[bf]\d*$/@elexis/elexis-3-base
    - target-2021-03-java11@elexis/elexis-3-base
