<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Omnivore"
            id="ch.elexis.omnivore">
      </category>
      <view
            name="Dokumente"
            icon="icons/sample.gif"
            category="ch.elexis.omnivore"
            class="ch.elexis.omnivore.views.OmnivoreView"
            id="ch.elexis.omnivore.views.OmnivoreView">
      </view>
   </extension>
   <extension
         point="ch.elexis.core.data.PersistentReference">
      <Factory
            Class="ch.elexis.omnivore.data.DocHandleFactory"
            name="Omnivore"/>
   </extension>
   <!--extension
         point="ch.elexis.ServiceRegistry">
      <Service
            actor="ch.elexis.omnivore.data.DocumentManagement"
            description="Omnivore"
            name="DocumentManagement"
            value="1">
      </Service>
   </extension-->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.transporters"
            class="ch.elexis.omnivore.preferences.PreferencePage"
            id="ch.elexis.omnivore_js.Preferences"
            name="Omnivore_js · Version 1.4.4 · 2013-04-11 · joerg.sigle@jsigle.com · www.jsigle.com">
      </page>
   </extension>

</plugin>
