<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Omnivore"
            id="ch.elexis.omnivore">
      </category>
      <view
            name="Omnivore"
            icon="icons/fressen.gif"
            category="ch.elexis.omnivore"
            class="ch.elexis.omnivore.views.OmnivoreView"
            id="ch.elexis.omnivore.views.OmnivoreView">
      </view>
   </extension>
   <extension
         point="ch.elexis.core.data.PersistentReference">
      <Factory
            Class="ch.elexis.omnivore.data.DocHandleFactory"
            name="Omnivore"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.transporters"
            class="ch.elexis.omnivore.views.Preferences"
            id="ch.elexis.omnivore.Preferences"
            name="Omnivore">
      </page>
   </extension>
   <extension
         point="ch.elexis.core.ui.Transporter">
      <Transporter
            AcceptableTypes="ch.elexis.omnivore.data.DocHandle"
            id="ch.elexis.omnivore-plus"
            name="Omnivore plus"
            type="*"
            xChangeContribution="ch.elexis.omnivore.data.xChangeContributor">
      </Transporter>
   </extension>
   <extension
         point="ch.elexis.core.data.ServiceRegistry">
      <Service
            actor="ch.elexis.exchange.TwainAccess"
            description="Omnivore direct scanning service"
            name="ScannerService"
            value="-1000">
      </Service>
      <Service
            actor="ch.elexis.omnivore.data.ScanToPDF"
            description="Retrieves a document from the scanner and stores it in a pdf"
            name="ScanToPDFService"
            value="-1000">
      </Service>
      <Service
            actor="ch.elexis.omnivore.data.DocumentManagement"
            description="Omnivore plus"
            name="DocumentManagement"
            value="90">
      </Service>
   </extension>
   <extension
         point="ch.elexis.core.ui.KonsExtension">
      <Link
            KonsExtension="ch.elexis.omnivore.views.KonsExtension"
            name="omnivore">
      </Link>
   </extension>
</plugin>
