<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ch.novcom.elexis.mednet.plugin.FormWatcherStartup">
      </startup>
   </extension>
   
   <extension
         point="ch.elexis.core.ui.LaborDatenImport">
      <Importer
            Class="ch.novcom.elexis.mednet.plugin.DocumentImporterPage"
            name="%importer.name">
      </Importer>
   </extension>
	<extension
		point="org.eclipse.ui.preferencePages">
		<page
        category=""
        class="ch.novcom.elexis.mednet.plugin.ui.preferences.MainPreferencePage"
        id="ch.novcom.elexis.mednet.plugin.ui.preferences"
        name="%preferences.title">
		</page>
		<page
        category="ch.novcom.elexis.mednet.plugin.ui.preferences"
        class="ch.novcom.elexis.mednet.plugin.ui.preferences.FormPreferencePage"
        id="ch.novcom.elexis.mednet.plugin.ui.preferences.form"
        name="%preferences.forms">
		</page>
		<page
        category="ch.novcom.elexis.mednet.plugin.ui.preferences"
        class="ch.novcom.elexis.mednet.plugin.ui.preferences.DocumentPreferencePage"
        id="ch.novcom.elexis.mednet.plugin.ui.preferences.receiving"
        name="%preferences.receiving">
		</page>
	</extension>
 	<extension
       point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.novcom.elexis.mednet.plugin.ui.commands.DocumentSettingRecordEdit"
            id="ch.novcom.elexis.mednet.plugin.data.documentsettingrecord.edit"
            name="Edit Receiving Item">
         	<commandParameter
               id="ch.novcom.elexis.mednet.plugin.data.documentsettingrecord.edit.selected"
               name="Selected Receiving Item"
               optional="true"
               typeId="ch.elexis.PersistentObjectType">
         	</commandParameter>
      </command>
      <command
            defaultHandler="ch.novcom.elexis.mednet.plugin.ui.commands.DocumentSettingRecordCreate"
            id="ch.novcom.elexis.mednet.plugin.data.documentsettingrecord.create"
            name="Create Document Record Item">
      </command>
      
      <command
            defaultHandler="ch.novcom.elexis.mednet.plugin.ui.commands.GetResult"
            id="ch.novcom.elexis.mednet.plugin.ui.commands.getresult"
            name="Get Result">
      </command>
      
      <command
            defaultHandler="ch.novcom.elexis.mednet.plugin.ui.commands.OpenFormView"
            id="ch.novcom.elexis.mednet.plugin.ui.commands.openformview"
            name="Open Form View">
      </command>
       
 	</extension>
 
 	<extension
       point="org.eclipse.ui.menus">
     <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.PatListView">
		<command
             commandId="ch.novcom.elexis.mednet.plugin.ui.commands.openformview"
             icon="icons/16x16/openformview.png"
             label="Formular ausfüllen"
             style="push">
		</command>
    </menuContribution>
    
    <menuContribution
          allPopups="false"
          locationURI="toolbar:ch.elexis.PatientDetailView">
       <command
             commandId="ch.novcom.elexis.mednet.plugin.ui.commands.openformview"
             icon="icons/16x16/openformview.png"
             label="Formular ausfüllen"
             style="push">
       </command>
	</menuContribution>
	
    <menuContribution
          allPopups="false"
          locationURI="toolbar:ch.elexis.PatDetail_v2">
       <command
             commandId="ch.novcom.elexis.mednet.plugin.ui.commands.openformview"
             icon="icons/16x16/openformview.png"
             label="Formular ausfüllen"
             style="push">
       </command>
	</menuContribution>
	
    <menuContribution
          allPopups="false"
          locationURI="toolbar:ch.elexis.Konsdetail">
       <command
             commandId="ch.novcom.elexis.mednet.plugin.ui.commands.openformview"
             icon="icons/16x16/openformview.png"
             label="Formular ausfüllen"
             style="push">
       </command>
	</menuContribution>
	
	
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.BriefAuswahlView">
         <command
             commandId="ch.novcom.elexis.mednet.plugin.ui.commands.openformview"
             icon="icons/16x16/openformview.png"
             label="Formular ausfüllen"
             style="push">
         </command>
      </menuContribution>
	
	
    <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
       <command
             commandId="ch.novcom.elexis.mednet.plugin.ui.commands.getresult"
             icon="icons/16x16/getresult.png"
             label="Dokumente importieren"
             style="push">
       </command>
    </menuContribution>
    
    <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.Labor">
       <command
             commandId="ch.novcom.elexis.mednet.plugin.ui.commands.getresult"
             icon="icons/16x16/getresult.png"
             label="Dokumente importieren"
             style="push">
       </command>
    </menuContribution>
    
	</extension>
 
</plugin>
