<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.iatrix"
            class="org.iatrix.views.JournalView"
            fastViewWidthRatio="0.2"
            id="org.iatrix.views.JournalView"
            name="KG Iatrix"/>
      <category
            id="org.iatrix"
            name="Iatrix"/>
      <view
            category="org.iatrix"
            class="org.iatrix.views.ProblemView"
            id="org.iatrix.views.ProblemView"
            name="Problem"/>
      <view
            category="org.iatrix"
            class="org.iatrix.views.KonsListView"
            id="org.iatrix.views.KonsListView"
            name="Konsultationen Iatrix">
      </view>
      <view
            allowMultiple="true"
            category="org.iatrix"
            class="org.iatrix.views.WebBrowserView"
            icon="icons/applications-internet.png"
            id="org.iatrix.views.WebBrowserView"
            name="%iatrix.WebBrowserView">
      </view>
   </extension>
   <extension
         point="ch.elexis.core.data.PersistentReference">
      <Factory
            Class="org.iatrix.data.ProblemFactory"
            name="Problem"/>
   </extension>
   <extension
         point="org.eclipse.ui.contexts">
      <context
            id="org.iatrix.view.context"
            name="%iatrix.view.context.name"
            parentId="org.eclipse.ui.contexts.window">
      </context>
      <context
            id="org.iatrix.view.konslist.context"
            name="%iatrix.view.konslist.context.name"
            parentId="org.eclipse.ui.contexts.window">
      </context>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.iatrix.commands.newcons"
            contextId="org.iatrix.view.context"
            schemeId="ch.elexis.ui.keybindingScheme"
            sequence="M1+K">
      </key>
      <key
            commandId="org.iatrix.commands.export_clipboard"
            contextId="org.iatrix.view.context"
            schemeId="ch.elexis.ui.keybindingScheme"
            sequence="M1+E">
      </key>
      <key
            commandId="org.iatrix.commands.newproblem"
            contextId="org.iatrix.view.context"
            schemeId="ch.elexis.ui.keybindingScheme"
            sequence="M1+P">
      </key>
      <key
            commandId="org.iatrix.commands.show_all_charges"
            contextId="org.iatrix.view.context"
            schemeId="ch.elexis.ui.keybindingScheme"
            sequence="F6">
      </key>
      <key
            commandId="org.iatrix.commands.show_all_charges"
            contextId="org.iatrix.view.konslist.context"
            schemeId="ch.elexis.ui.keybindingScheme"
            sequence="F6">
      </key>
      <key
            commandId="org.iatrix.commands.show_all_consultations"
            contextId="org.iatrix.view.context"
            schemeId="ch.elexis.ui.keybindingScheme"
            sequence="F5">
      </key>
      <key
            commandId="org.iatrix.commands.show_all_consultations"
            contextId="org.iatrix.view.konslist.context"
            schemeId="ch.elexis.ui.keybindingScheme"
            sequence="F5">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.iatrix.commands.category"
            id="org.iatrix.commands.newcons"
            name="%iatrix.commands.newcons">
      </command>
      <category
            id="org.iatrix.commands.category"
            name="%iatrix.commands.category">
      </category>
      <command
            categoryId="org.iatrix.commands.category"
            id="org.iatrix.commands.export_clipboard"
            name="%iatrix.commands.export_clipboard">
      </command>
      <command
            categoryId="org.iatrix.commands.category"
            id="org.iatrix.commands.newproblem"
            name="%iatrix.commands.newproblem">
      </command>
      <command
            categoryId="org.iatrix.commands.category"
            id="org.iatrix.commands.show_all_charges"
            name="%iatrix.commands.show_all_charges">
      </command>
      <command
            categoryId="org.iatrix.commands.category"
            id="org.iatrix.commands.show_all_consultations"
            name="%iatrix.commands.show_all_consultations">
      </command>
      <command
            categoryId="org.iatrix.commands.category"
            id="org.iatrix.commands.send_email"
            name="%iatrix.commands.send_email">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.iatrix.preferences.IatrixPreferences"
            id="org.iatrix.preferences.IatrixPreferences"
            name="Iatrix">
      </page>
      <page
            category="org.iatrix.preferences.IatrixPreferences"
            class="org.iatrix.preferences.KGIatrixPreferences"
            id="org.iatrix.preferences.KGIatrixPreferences"
            name="KG">
      </page>
   </extension>
</plugin>
