<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="ch.elexis.agenda.Views"
            class="at.medevit.elexis.agenda.ui.view.WeekView"
            id="at.medevit.elexis.agenda.ui.view.week"
            name="Week"
            restorable="true">
      </view>
      <view
            category="ch.elexis.agenda.Views"
            class="at.medevit.elexis.agenda.ui.view.ParallelView"
            id="at.medevit.elexis.agenda.ui.view.parallel"
            name="Parallel"
            restorable="true">
      </view>
      <view
            category="ch.elexis.agenda.Views"
            class="at.medevit.elexis.agenda.ui.view.AgendaView"
            id="at.medevit.elexis.agenda.ui.view.agenda"
            name="Agenda Web"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="at.medevit.elexis.agenda.ui.command.setStatus"
            name="SetStatus">
         <commandParameter
               id="at.medevit.elexis.agenda.ui.command.parameter.statusId"
               name="statusId"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="at.medevit.elexis.agenda.ui.command.edit"
            name="Edit">
      </command>
      <command
            id="at.medevit.elexis.agenda.ui.command.delete"
            name="Delete">
      </command>
      <command
            id="at.medevit.elexis.agenda.ui.command.settopcontrol"
            name="SetTopControl">
         <commandParameter
               id="at.medevit.elexis.agenda.ui.command.parameter.controlId"
               name="controlId"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="at.medevit.elexis.agenda.ui.command.move"
            name="Move">
      </command>
      <command
            id="at.medevit.elexis.agenda.ui.command.insert"
            name="Insert">
      </command>
      <command
            defaultHandler="at.medevit.elexis.agenda.ui.handler.PrintSelectedAgendaHandler"
            id="at.medevit.elexis.agenda.ui.PrintSelectedAgenda"
            name="Print selected Agenda">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:at.medevit.elexis.agenda.ui.week">
         <menu
               label="Status">
            <dynamic
                  class="at.medevit.elexis.agenda.ui.menu.SetStatusContributionItem"
                  id="at.medevit.elexis.agenda.ui.dynamic.status">
            </dynamic>
         </menu>
         <command
               commandId="at.medevit.elexis.agenda.ui.command.edit"
               icon="icon://IMG_EDIT"
               label="bearbeiten"
               style="push">
         </command>
         <command
               commandId="at.medevit.elexis.agenda.ui.command.delete"
               icon="icon://IMG_DELETE"
               label="löschen"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:at.medevit.elexis.agenda.ui.parallel">
         <menu
               label="Status">
            <dynamic
                  class="at.medevit.elexis.agenda.ui.menu.SetStatusContributionItem"
                  id="at.medevit.elexis.agenda.ui.dynamic.status">
            </dynamic>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.core.data.interfaces.IPeriod">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
         <command
               commandId="at.medevit.elexis.agenda.ui.command.edit"
               icon="icon://IMG_EDIT"
               label="bearbeiten"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.core.data.interfaces.IPeriod">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="at.medevit.elexis.agenda.ui.command.move"
               label="verschieben"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.core.data.interfaces.IPeriod">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
         <command
               commandId="at.medevit.elexis.agenda.ui.command.insert"
               label="einfügen"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <test
                     property="at.medevit.elexis.agenda.ui.moveAvailable">
               </test>
            </visibleWhen>
         </command>
         <command
               commandId="at.medevit.elexis.agenda.ui.command.delete"
               icon="icon://IMG_DELETE"
               label="löschen"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.core.data.interfaces.IPeriod">
                     </instanceof>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="at.medevit.elexis.agenda.ui.handler.SetStatusHandler"
            commandId="at.medevit.elexis.agenda.ui.command.setStatus">
      </handler>
      <handler
            class="at.medevit.elexis.agenda.ui.handler.EditHandler"
            commandId="at.medevit.elexis.agenda.ui.command.edit">
      </handler>
      <handler
            class="at.medevit.elexis.agenda.ui.handler.MoveHandler"
            commandId="at.medevit.elexis.agenda.ui.command.move">
      </handler>
      <handler
            class="at.medevit.elexis.agenda.ui.handler.DeleteHandler"
            commandId="at.medevit.elexis.agenda.ui.command.delete">
      </handler>
      <handler
            class="at.medevit.elexis.agenda.ui.handler.SetTopControlHandler"
            commandId="at.medevit.elexis.agenda.ui.command.settopcontrol">
      </handler>
      <handler
            class="at.medevit.elexis.agenda.ui.handler.InsertHandler"
            commandId="at.medevit.elexis.agenda.ui.command.insert">
      </handler>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="at.medevit.elexis.agenda.ui.property.AgendaPropertyTester"
            id="at.medevit.elexis.agenda.ui.propertyTester"
            namespace="at.medevit.elexis.agenda.ui"
            properties="moveAvailable"
            type="java.lang.Object">
      </propertyTester>
   </extension>
</plugin>
