<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="at.medevit.elexis.agenda.ui.property.AgendaPropertyTester"
            id="at.medevit.elexis.agenda.ui.propertyTester"
            namespace="at.medevit.elexis.agenda.ui"
            properties="moveAvailable"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="at.medevit.elexis.agenda.ui.definition.selectionPeriodNotEmpty">
         <with
               variable="org.eclipse.ui.selection">
            <not>
               <count
                     value="0">
               </count>
            </not>
            <iterate
                  ifEmpty="false"
                  operator="and">
               <instanceof
                     value="ch.elexis.core.model.IPeriod">
               </instanceof>
            </iterate>
         </with>
      </definition>
      <definition
            id="at.medevit.elexis.agenda.ui.definition.moveAvailable">
         <test
               property="at.medevit.elexis.agenda.ui.moveAvailable">
         </test>
      </definition>
   </extension>
   <extension
         id="at.medevit.elexis.agenda.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
  <extension
         point="org.eclipse.equinox.http.registry.resources">
      <resource
            alias="/agenda/static"
            base-name="/rsc">
      </resource>
   </extension>
</plugin>
