<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.Leistungscodes"
            class="ch.elexis.base.ch.labortarif_2009.ui.Preferences"
            id="ch.elexis.labortarif2009.prefs"
            name="%Labortarif2009">
      </page>
   </extension>
   <extension
         point="ch.elexis.core.ui.Verrechnungscode">
      <Leistung
            CodeDetailDisplay="ch.elexis.base.ch.labortarif_2009.ui.DetailDisplay"
            CodeSelectorFactory="ch.elexis.base.ch.labortarif_2009.ui.Labor2009Selector"
            ImporterClass="ch.elexis.labortarif2009.data.Importer"
            elexisClassName="ch.elexis.labortarif2009.data.Labor2009Tarif"
            name="%Labortarif2009"
            system="EAL 2009">
      </Leistung>
   </extension>

</plugin>
