<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<!--
		(c) 2007-2010 by G. Weirich
		All rights reserved
		$Id: plugin.xml 116 2007-06-07 07:06:44Z gerry $
	-->
   <extension
         point="ch.elexis.core.ui.LaborDatenImport">
      <Importer
            Class="ch.elexis.laborimport.synlab.Importer"
            name="Labor MEDISYN"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.transporters"
            class="ch.elexis.laborimport.synlab.PreferencePage"
            id="ch.elexis.laborimport.synlab.prefs"
            name="Labor MEDISYN"/>
   </extension>

</plugin>
