<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.Leistungscodes"
            class="ch.elexis.tarmedprefs.RechnungsPrefs"
            id="ch.elexis.tarmedrechnungspref"
            name="Tarmed-Rechnungen"/>
      <page
            category="ch.elexis.Leistungscodes"
            class="ch.elexis.tarmedprefs.PhysioPrefs"
            id="ch.elexis.arzttarife_ch.physioprefs"
            name="Physiotherapie">
      </page>
      <page
            category="ch.elexis.Leistungscodes"
            class="ch.elexis.tarmedprefs.ComplementaryPrefs"
            id="ch.elexis.arzttarife_ch.complementary"
            name="Komplementärmedizin">
      </page>
      <page
            category="ch.elexis.Leistungscodes"
            class="ch.elexis.tarmedprefs.NutritionPrefs"
            id="ch.elexis.arzttarife_ch.nutrition"
            name="Ernährungsberatung">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.RFEView"
            icon="rsc/RFE.ico"
            id="ch.elexis.arzttarife_ch.rfeView"
            name="medkey-RFE"
            restorable="true">
      </view>
   </extension>
   <extension
         id="Arbeitsmedizinische Vorsorgeuntersuchungen"
         point="ch.elexis.core.ui.Verrechnungscode">
      <Leistung
            CodeDetailDisplay="ch.elexis.views.TarmedDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.TarmedCodeSelectorFactory"
            ImporterClass="ch.elexis.base.ch.arzttarife.importer.TarmedImporter"
            OptifyerClass="ch.elexis.data.TarmedOptifier"
            elexisClassName="ch.elexis.data.TarmedLeistung"
            name="TarmedLeistung"
            localizedName="%TarmedLeistung"
            system="Tarmed">
      </Leistung>
      <Leistung
            CodeDetailDisplay="ch.elexis.views.PhysioDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.PhysioLeistungsCodeSelectorFactory"
            ImporterClass="ch.elexis.base.ch.arzttarife.importer.PhysioImporter"
            elexisClassName="ch.elexis.data.PhysioLeistung"
            name=" Physio-Leistung"
            localizedName="%PhysioLeistung"
            system="Physiotherapie">
      </Leistung>
      <Leistung
            CodeDetailDisplay="ch.elexis.views.ComplementaryDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.ComplementaryCodeSelectorFactory"
            ImporterClass="ch.elexis.base.ch.arzttarife.importer.ComplementaryImporter"
            elexisClassName="ch.elexis.data.ComplementaryLeistung"
            name="Komplementärmedizin"
            localizedName="%ComplementaryMedicine"
            system="Komplementärmedizin">
      </Leistung>
      <Leistung
            CodeDetailDisplay="ch.elexis.views.PandemieDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.PandemieCodeSelectorFactory"
            ImporterClass="ch.elexis.base.ch.arzttarife.importer.PandemieImporter"
            OptifyerClass="ch.elexis.data.TarmedOptifier"
            elexisClassName="ch.elexis.data.PandemieLeistung"
            localizedName="Pandemie"
            name="PandemieLeistung"
            system="Pandemie">
      </Leistung>
      <Leistung
            CodeDetailDisplay="ch.elexis.views.TarmedAllowanceDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.TarmedAllowanceCodeSelectorFactory"
            ImporterClass="ch.elexis.base.ch.arzttarife.importer.TarmedAllowanceImporter"
            OptifyerClass="ch.elexis.data.TarmedOptifier"
            elexisClassName="ch.elexis.data.TarmedPauschalen"
            localizedName="Tarmedpauschalen"
            name="Tarmedpauschalen"
            system="Tarmedpauschalen">
      </Leistung>
      <Leistung
            CodeDetailDisplay="ch.elexis.views.NutritionDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.NutritionLeistungCodeSelectorFactory"
            ImporterClass="ch.elexis.base.ch.arzttarife.importer.NutritionImporter"
            elexisClassName="ch.elexis.data.NutritionLeistung"
            localizedName="Ernährungsberatung"
            name="Ernährungsberatung"
            system="Ernährungsberatung">
      </Leistung>
      <Leistung
            CodeDetailDisplay="ch.elexis.views.PsychoDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.PsychoLeistungCodeSelectorFactory"
            ImporterClass="ch.elexis.base.ch.arzttarife.importer.PsychoImporter"
            elexisClassName="ch.elexis.data.PsychoLeistung"
            localizedName="Psychotherapie (KVG)"
            name="Psychotherapie"
            system="Psychotherapie">
      </Leistung>
      <Leistung
            CodeDetailDisplay="ch.elexis.views.OccupationalDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.OccupationalLeistungCodeSelectorFactory"
            ImporterClass="ch.elexis.base.ch.arzttarife.importer.OccupationalImporter"
            elexisClassName="ch.elexis.data.OccupationalLeistung"
            localizedName="Arbeitsmedizinische Vorsorgeuntersuchungen"
            name="Arbeitsmedizinische Vorsorgeuntersuchungen"
            system="Arbeitsmedizinische Vorsorgeuntersuchungen">
      </Leistung>
      <Leistung
            CodeDetailDisplay="ch.elexis.views.TardocDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.TardocCodeSelectorFactory"
            ImporterClass="ch.elexis.base.ch.arzttarife.importer.TardocImporter"
            OptifyerClass="ch.elexis.data.TarmedOptifier"
            elexisClassName="ch.elexis.data.TardocLeistung"
            localizedName="%TardocLeistung"
            name="TardocLeistung"
            system="TARDOC">
      </Leistung>
      <Leistung
            CodeDetailDisplay="ch.elexis.views.AmbulatoryAllowanceDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.AmbulatoryAllowanceCodeSelectorFactory"
            ImporterClass="ch.elexis.base.ch.arzttarife.importer.AmbulatoryAllowanceImporter"
            OptifyerClass="ch.elexis.data.TarmedOptifier"
            elexisClassName="ch.elexis.data.AmbulantePauschalen"
            localizedName="%AmbulantePauschalen"
            name="AmbulantePauschalen"
            system="Ambulantepauschalen">
      </Leistung>
   </extension>
   <extension
         point="ch.elexis.core.data.RechnungsManager">
      <Rechnung
            name="Tarmed-XML-Export"
            localizedName="%TarmedRechnung.XMLExporter"
            outputter="ch.elexis.TarmedRechnung.XMLExporter">
      </Rechnung>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.core.ui.views.codesystems.BlockSelector">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.Konsdetail.VerrechnungsDisplay">
         <command
               commandId="ch.elexis.base.ch.arzttarife.tarmed.detail"
               label="Tarmed Detail"
               style="push">
         </command>
         <command
               commandId="ch.elexis.base.ch.arzttarife.tarmed.refcodes"
               label="Tarmedbezüge"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.elexis.base.ch.arzttarife.ui.handler.TarmedDetailHandler"
            id="ch.elexis.base.ch.arzttarife.tarmed.detail"
            name="Tarmed Detail">
      </command>
      <command
            defaultHandler="ch.elexis.base.ch.arzttarife.ui.handler.TarmedRefcodesHandler"
            id="ch.elexis.base.ch.arzttarife.tarmed.refcodes"
            name="Reference Codes">
      </command>
   </extension>

</plugin>
