<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.Leistungscodes"
            class="ch.elexis.tarmedprefs.RechnungsPrefs"
            id="ch.elexis.tarmedrechnungspref"
            name="Tarmed-Rechnungen"/>
      <page
            category="ch.elexis.Leistungscodes"
            class="ch.elexis.tarmedprefs.PhysioPrefs"
            id="ch.elexis.arzttarife_ch.physioprefs"
            name="Physiotherapie">
      </page>
      <page
            category="ch.elexis.Leistungscodes"
            class="ch.elexis.tarmedprefs.ComplementaryPrefs"
            id="ch.elexis.arzttarife_ch.complementary"
            name="Komplementärmedizin">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.views.RnPrintView2"
            id="ch.elexis.arzttarife_ch.printview2"
            name="Rechnung Drucken">
      </view>
      <view
            allowMultiple="false"
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.RFEView"
            icon="rsc/RFE.ico"
            id="ch.elexis.arzttarife_ch.rfeView"
            name="medkey-RFE"
            restorable="true">
      </view>
   </extension>
   <extension
         point="ch.elexis.core.data.PersistentReference">
      <Factory
            Class="ch.elexis.data.ArzttarifFactory"
            name="Arzttarife">
      </Factory>
   </extension>
   <extension
         point="ch.elexis.core.ui.Verrechnungscode">
      <Leistung
            CodeDetailDisplay="ch.elexis.views.TarmedDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.TarmedCodeSelectorFactory"
            ComparatorClass="ch.elexis.data.TarmedLeistung$TarmedComparator"
            ElementFactory="ch.elexis.data.ArzttarifFactory"
            ImporterClass="ch.elexis.data.TarmedImporter"
            MandandFilterClass="ch.elexis.data.TarmedLeistung$MandantFilter"
            OptifyerClass="ch.elexis.data.TarmedOptifier"
            name="TarmedLeistung">
      </Leistung>
      <Leistung
            CodeDetailDisplay="ch.elexis.views.PhysioDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.PhysioLeistungsCodeSelectorFactory"
            ComparatorClass="ch.elexis.data.PhysioComparator"
            ElementFactory="ch.elexis.data.ArzttarifFactory"
            ImporterClass="ch.elexis.data.PhysioImporter"
            name=" Physio-Leistung">
      </Leistung>
      <Leistung
            CodeDetailDisplay="ch.elexis.views.ComplementaryDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.ComplementaryCodeSelectorFactory"
            ComparatorClass="ch.elexis.data.ComplementaryComparator"
            ElementFactory="ch.elexis.data.ArzttarifFactory"
            ImporterClass="ch.elexis.data.ComplementaryImporter"
            name="Komplementärmedizin">
      </Leistung>
   </extension>
   <extension
         point="ch.elexis.core.data.RechnungsManager">
      <Rechnung
            name="Tarmed-Drucker"
            outputter="ch.elexis.TarmedRechnung.RechnungsDrucker">
      </Rechnung>
      <Rechnung
            name="Tarmed-XML-Export"
            outputter="ch.elexis.TarmedRechnung.XMLExporter">
      </Rechnung>
   </extension>
   <extension
         point="ch.elexis.core.data.referenceDataImporter">
      <importer
            class="ch.elexis.data.importer.KVGTarmedReferenceDataImporter"
            referenceDataId="tarmed_kvg_34">
      </importer>
      <importer
            class="ch.elexis.data.importer.TarmedReferenceDataImporter"
            referenceDataId="tarmed_34">
      </importer>
   </extension>
   <extension
         point="ch.elexis.core.ui.TextTemplateRequirement">
      <TextTemplateRequirement
            element="ch.elexis.tarmed.printer.TarmedTemplateRequirement">
      </TextTemplateRequirement>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.core.ui.views.codesystems.BlockSelector">
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.VerrechnungsDisplay">
         <command
               commandId="ch.elexis.base.ch.arzttarife.tarmed.detail"
               label="Tarmed Detail"
               style="push">
         </command>
         <command
               commandId="ch.elexis.base.ch.arzttarife.tarmed.refcodes"
               label="Tarmedbezüge"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="ch.elexis.base.ch.arzttarife.ui.handler.TarmedDetailHandler"
            id="ch.elexis.base.ch.arzttarife.tarmed.detail"
            name="Tarmed Detail">
      </command>
      <command
            defaultHandler="ch.elexis.base.ch.arzttarife.ui.handler.TarmedRefcodesHandler"
            id="ch.elexis.base.ch.arzttarife.tarmed.refcodes"
            name="Reference Codes">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>
   <extension
         point="ch.elexis.core.ui.dbcheck.ExternalMaintenance">
      <ExternalMaintenance
            MaintenanceCode="ch.elexis.base.ch.arzttarife.ui.dbcheck.UpdateTarmedInBlock">
      </ExternalMaintenance>
   </extension>

</plugin>
