<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.Leistungscodes"
            class="ch.elexis.tarmedprefs.RechnungsPrefs"
            id="ch.elexis.tarmedrechnungspref"
            name="Tarmed-Rechnungen"/>
      <page
            category="ch.elexis.Leistungscodes"
            class="ch.elexis.tarmedprefs.PhysioPrefs"
            id="ch.elexis.arzttarife_ch.physioprefs"
            name="Physiotherapie">
      </page>
      <page
            category="ch.elexis.Leistungscodes"
            class="ch.elexis.tarmedprefs.ComplementaryPrefs"
            id="ch.elexis.arzttarife_ch.complementary"
            name="Komplementärmedizin">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.views.RnPrintView2"
            id="ch.elexis.arzttarife_ch.printview2"
            name="Rechnung Drucken">
      </view>
      <view
            allowMultiple="false"
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.RFEView"
            icon="rsc/RFE.ico"
            id="ch.elexis.arzttarife_ch.rfeView"
            name="medkey-RFE"
            restorable="true">
      </view>
   </extension>
   <extension
         point="ch.elexis.core.ui.Verrechnungscode">
      <Leistung
            CodeDetailDisplay="ch.elexis.views.TarmedDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.TarmedCodeSelectorFactory"
            ImporterClass="ch.elexis.data.TarmedImporter"
            OptifyerClass="ch.elexis.data.TarmedOptifier"
            elexisClassName="ch.elexis.data.TarmedLeistung"
            name="TarmedLeistung"
            system="Tarmed">
      </Leistung>
      <Leistung
            CodeDetailDisplay="ch.elexis.views.PhysioDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.PhysioLeistungsCodeSelectorFactory"
            ImporterClass="ch.elexis.data.PhysioImporter"
            elexisClassName="ch.elexis.data.PhysioLeistung"
            name=" Physio-Leistung"
            system="Physiotherapie">
      </Leistung>
      <Leistung
            CodeDetailDisplay="ch.elexis.views.ComplementaryDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.ComplementaryCodeSelectorFactory"
            ImporterClass="ch.elexis.data.ComplementaryImporter"
            elexisClassName="ch.elexis.data.ComplementaryLeistung"
            name="Komplementärmedizin"
            system="Komplementärmedizin">
      </Leistung>
   </extension>
   <extension
         point="ch.elexis.core.data.RechnungsManager">
      <Rechnung
            name="Tarmed-Drucker"
            outputter="ch.elexis.TarmedRechnung.RechnungsDrucker">
      </Rechnung>
      <Rechnung
            name="Tarmed-XML-Export"
            outputter="ch.elexis.TarmedRechnung.XMLExporter">
      </Rechnung>
   </extension>
   <extension
         point="ch.elexis.core.ui.TextTemplateRequirement">
      <TextTemplateRequirement
            element="ch.elexis.tarmed.printer.TarmedTemplateRequirement">
      </TextTemplateRequirement>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.core.ui.views.codesystems.BlockSelector">
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
   </extension>

</plugin>
