<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<!-- 
 * Copyright (c) 2005-2006, G. Weirich and Elexis
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 *
 * Contributors:
 *    G. Weirich - initial implementation
-->
<plugin>
   <extension
         point="ch.elexis.core.ui.Sidebar">
      <Perspektive
            ID="ch.elexis.base.befunde.perspektive"
            name="%Befunde"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.elexis.base.befunde.BefundePerspektive"
            icon="icons/chart_curve.png"
            id="ch.elexis.base.befunde.perspektive"
            name="%BefundePerspektive"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="ch.elexis.messungenKategorie"
            class="ch.elexis.base.befunde.FindingsView"
            icon="icons/chart_curve.png"
            id="elexis-befunde.findingsView"
            inject="true"
            name="%Befunde"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.elexis.base.befunde.BefundePrefs"
            id="ch.elexis.base.befundePrefs"
            name="%Befunde"/>
      <page
            category="ch.elexis.core.findings.ui"
            class="ch.elexis.base.befunde.findings.migrator.preferences.MesswertMigrationSettings"
            id="ch.elexis.core.findings.ui.migration.messwert"
            name="Migration Messwerte">
      </page>
   </extension>
   <extension
         point="ch.elexis.core.data.PersistentReference">
      <Factory
            Class="ch.elexis.befunde.MesswertFactory"
            name="MesswertFactory"/>
   </extension>
   <extension
         point="ch.elexis.core.data.ACLContribution">
      <ACLContribution
            ACLContributor="ch.elexis.base.befunde.ACLContributor"
            name="Befunde-ACLs"/>
   </extension>
   <extension
         point="ch.elexis.core.data.DataAccess">
      <DataAccess
            class="ch.elexis.base.befunde.DataAccessor"
            name="Befunde-Data">
      </DataAccess>
   </extension>
   <extension
         point="ch.elexis.core.ui.Transporter">
      <Transporter
            AcceptableTypes="ch.elexis.data.Paient"
            id="ch.elexis.base.befunde.transporter"
            name="Befunde"
            type="ch.elexis.Messwert"
            xChangeContribution="ch.elexis.befunde.xchange.XChangeContributor">
      </Transporter>
   </extension>
   <extension
         point="ch.elexis.core.ui.TextTemplateRequirement">
      <TextTemplateRequirement
            element="ch.elexis.base.befunde.text.BefundeTextTemplateRequirement">
      </TextTemplateRequirement>
   </extension>

</plugin>
