<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated omnivore -->
      <package
            uri="http://ch.elexis.omnivore.data/model/model"
            class="ch.elexis.omnivore.data.model.ModelPackage"
            genModel="model/omnivore.genmodel"/>
   </extension>

</plugin>
