<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!--
    Copyright (c) 2011-2016 Medevit OG, Medelexis AG
    All rights reserved. This program and the accompanying materials
    are made available under the terms of the Eclipse Public License v1.0
    which accompanies this distribution, and is available at
    http://www.eclipse.org/legal/epl-v10.html
   
    Contributors:
        Marco Descher, initial API and implementaion
        Lucia Amman, bug fixes and improvements
    Sponsors: M. + P. Richter
 -->

<plugin>
   <extension
         point="at.medevit.elexis.gdt.communicationPartner">
      <commPartner
            interface="at.medevit.elexis.gdt.defaultfilecp.DefaultFileCommPartner">
      </commPartner>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="at.medevit.elexis.gdt.ui.GDTPreferencePage"
            class="at.medevit.elexis.gdt.defaultfilecp.ui.GDTPreferencePageFileTransfer"
            id="at.medevit.elexis.gdt.defaultfilecp.ui.GDTPreferencePageFileTransfer"
            name="Datei-Kommunikation">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="at.medevit.elexis.gdt.defaultfilecp.ui.view.GdtView"
            id="at.medevit.elexis.gdt.defaultfilecp.gdtview"
            inject="true"
            name="GDTView"
            restorable="true">
      </view>
   </extension>

</plugin>
