<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.Leistungscodes"
            class="ch.elexis.tarmedprefs.RechnungsPrefs"
            id="ch.elexis.tarmedrechnungspref"
            name="Tarmed-Rechnungen"/>
      <page
            category="ch.elexis.Leistungscodes"
            class="ch.elexis.tarmedprefs.PhysioPrefs"
            id="ch.elexis.arzttarife_ch.physioprefs"
            name="Physiotherapie">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.views.RnPrintView2"
            id="ch.elexis.arzttarife_ch.printview2"
            name="Rechnung Drucken">
      </view>
      <view
            allowMultiple="false"
            category="ch.elexis.konsultationKategorie"
            class="ch.elexis.views.RFEView"
            icon="rsc/RFE.ico"
            id="ch.elexis.arzttarife_ch.rfeView"
            name="medkey-RFE"
            restorable="true">
      </view>
   </extension>
   <extension
         point="ch.elexis.core.data.PersistentReference">
      <Factory
            Class="ch.elexis.data.ArzttarifFactory"
            name="Arzttarife">
      </Factory>
   </extension>
   <extension
         point="ch.elexis.core.ui.Verrechnungscode">
      <Leistung
            CodeDetailDisplay="ch.elexis.views.TarmedDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.TarmedCodeSelectorFactory"
            ComparatorClass="ch.elexis.data.TarmedLeistung$TarmedComparator"
            ElementFactory="ch.elexis.data.ArzttarifFactory"
            ImporterClass="ch.elexis.data.TarmedImporter"
            MandandFilterClass="ch.elexis.data.TarmedLeistung$MandantFilter"
            OptifyerClass="ch.elexis.data.TarmedOptifier"
            name="TarmedLeistung">
      </Leistung>
      <Leistung
            CodeDetailDisplay="ch.elexis.views.PhysioDetailDisplay"
            CodeSelectorFactory="ch.elexis.views.PhysioLeistungsCodeSelectorFactory"
            ComparatorClass="ch.elexis.data.PhysioComparator"
            ElementFactory="ch.elexis.data.ArzttarifFactory"
            ImporterClass="ch.elexis.data.PhysioImporter"
            name=" Physio-Leistung">
      </Leistung>
   </extension>
   <extension
         point="ch.elexis.core.data.RechnungsManager">
      <Rechnung
            name="Tarmed-Drucker"
            outputter="ch.elexis.TarmedRechnung.RechnungsDrucker">
      </Rechnung>
      <Rechnung
            name="Tarmed-XML-Export"
            outputter="ch.elexis.TarmedRechnung.XMLExporter">
      </Rechnung>
   </extension>
   <extension
         point="ch.elexis.core.data.referenceDataImporter">
      <importer
            class="ch.elexis.data.importer.TarmedReferenceDataImporter"
            referenceDataId="tarmed">
      </importer>
   </extension>

</plugin>
