<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.transporters"
            class="at.medevit.elexis.cobasmira.ui.Preferences"
            id="at.medevit.elexis.cobasmira.ui.Preferences"
            name="Roche Cobas Mira">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="at.medevit.elexis.cobasmira.ui.DeviceView"
            icon="rsc/cobasblue.ico"
            id="at.medevit.elexis.cobasmira.ui.deviceview"
            name="Cobas Mira"
            restorable="true">
      </view>
   </extension>

</plugin>
