<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="ch.elexis.abrechnungKategorie"
            class="ch.elexis.base.ch.ebanking.ESRView"
            icon="rsc/postfinance.ico"
            id="ch.elexis.ebanking_ch.ESRView"
            inject="true"
            name="ESR"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ch.elexis.ebanking_ch.command.loadESRFile"
            name="load ESR file">
      </command>
      <command
            id="ch.elexis.ebanking_ch.command.openESRWithInvoiceId"
            name="open ESR with invoice id">
         <commandParameter
               id="ch.elexis.ebanking_ch.command.openESR.InvoiceId"
               name="InvoiceId"
               optional="false">
         </commandParameter>
         <commandParameter
               id="ch.elexis.ebanking_ch.command.openESR.PaymentDate"
               name="PaymentDate"
               optional="false">
         </commandParameter>
      </command>
      <command
            id="ch.elexis.ebanking_ch.command.openFileJournal"
            name="open ESR file journal">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.ebanking_ch.ESRView">
         <command
               commandId="ch.elexis.ebanking_ch.command.loadESRFile"
               label=" "
               style="push">
         </command>
         <command
               commandId="ch.elexis.ebanking_ch.command.openFileJournal"
               icon="icon://IMG_DOCUMENT_PDF"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="ch.elexis.base.ch.ebanking.command.LoadESRFileHandler"
            commandId="ch.elexis.ebanking_ch.command.loadESRFile">
      </handler>
      <handler
            class="ch.elexis.base.ch.ebanking.command.OpenESRWithinvoiceIdHandler"
            commandId="ch.elexis.ebanking_ch.command.openESRWithInvoiceId">
      </handler>
      <handler
            class="ch.elexis.base.ch.ebanking.command.OpenESRFileJournalHandler"
            commandId="ch.elexis.ebanking_ch.command.openFileJournal">
      </handler>
   </extension>

</plugin>
