<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<!--
		(c) 2010 by Niklaus Giger & Medelexis
		All rights reserved
	-->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.transporters"
            class="ch.elexis.laborimport.analytica.PreferencePage"
            id="ch.elexis.laborimport_analytica.prefs"
            name="Labor Analytica"/>
   </extension>
   <extension
         point="ch.elexis.core.ui.LaborDatenImport">
      <Importer
            Class="ch.elexis.laborimport.analytica.Importer"
            name="Laborimport Analytica">
      </Importer>
   </extension>

</plugin>
