<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            allowMultiple="false"
            class="ch.docbox.elexis.DocboxView"
            icon="icons/docbox16.png"
            id="ch.docbox.elexis.DocboxView"
            inject="true"
            name="%docbox.view.name">
      </view>
      <view
            allowMultiple="false"
            class="ch.docbox.elexis.DocboxDocumentsView"
            icon="icons/docbox16.png"
            id="ch.docbox.elexis.DocboxDocumentsView"
            inject="true"
            name="%docbox.documentsview.name">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.docbox.elexis.UserDocboxPreferences"
            id="ch.docbox.elexis.UserDocboxPreferences"
            name="%docbox.preferencepage.name">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="docbox_elexis.actionSet"
            label="%docbox.actionSet.label"
            visible="true">

         <action
               class="ch.docbox.elexis.DocboxGetDocumentsAction"
               icon="icons/document16.png"
               id="ch.docbox.elexis.DocboxGetDoucmentsAction"
               label="%docbox.action.getdocuments.label"
               menubarPath="docboxMenu/docboxGroup"
               style="push"
               toolbarPath="docboxGroup">
         </action>
         <action
               class="ch.docbox.elexis.DocboxTerminvereinbarungAction"
               icon="icons/terminvereinbarung16.png"
               id="ch.docbox.elexis.DocboxTerminvereinbarungAction"
               label="%docbox.action.terminvereinbarung.label"
               menubarPath="docboxMenu/docboxGroup"
               style="push"
               toolbarPath="docboxGroup">
         </action>
         <action
               class="ch.docbox.elexis.DocboxArztArztAction"
               icon="icons/doc2doc16.png"
               id="ch.docbox.elexis.DocboxArztArztAction"
               label="%docbox.action.arztarzt.label"
               menubarPath="docboxMenu/docboxGroup"
               style="push"
               toolbarPath="docboxGroup">
         </action>
         <action
               class="ch.docbox.elexis.DocboxHospitalReferralAction"
               icon="icons/hospital16.png"
               id="ch.docbox.elexis.DocboxHospitalReferralAction"
               label="%docbox.action.hospitalreferral.label"
               menubarPath="docboxMenu/docboxGroup"
               toolbarPath="docboxGroup">
         </action>
         <action
               class="ch.docbox.elexis.DocboxMeinPatientAction"
               icon="icons/meinpatient_logo16.png"
               id="ch.docbox.elexis.DocboxMeinPatientAction"
               label="%docbox.action.meinpatient.label"
               menubarPath="docboxMenu/docboxGroup"
               toolbarPath="docboxGroup">
         </action>
         <action
               class="ch.docbox.elexis.DocboxBrowserOpenAction"
               icon="icons/docbox16.png"
               id="ch.docbox.elexis.DocboxBrowserOpenAction"
               label="%docbox.action.openbrowser.label"
               menubarPath="docboxMenu/docboxGroup"
               toolbarPath="docboxGroup">
         </action>
      </actionSet>
   </extension>
   <extension
         point="ch.elexis.core.data.PersistentReference">
      <Factory
            Class="ch.docbox.model.CdaMessageFactory"
            name="ch.docbox.elexis"/>
   </extension>

</plugin>
