<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="at.medevit.elexis.ehc.ui.views.EHealthConnectorView"
            icon="icons/ehc.jpg"
            id="at.medevit.elexis.eHealthConnectorView"
            name="eHealthConnector"
            restorable="true">
      </view>
   </extension>

</plugin>
