<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="elementsui" name="ElementsUi" schema="schema/elementsui.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="at.medevit.elexis.inbox.ui.part.InboxView"
            icon="rsc/img/inbox_into.png"
            id="at.medevit.elexis.inbox.ui.view"
            name="Inbox"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.medevit.elexis.inbox.ui.command.ReloadViewCommand"
            id="at.medevit.elexis.inbox.ui.command.reload"
            name="reload">
      </command>
      <command
            defaultHandler="at.medevit.elexis.inbox.ui.command.ExpandAllCommand"
            id="at.medevit.elexis.inbox.ui.command.expandAll"
            name="expand all">
      </command>
      <command
            defaultHandler="at.medevit.elexis.inbox.ui.command.IgnoreCommand"
            id="at.medevit.elexis.inbox.ui.command.ignore"
            name="ignore">
      </command>
      <command
            defaultHandler="at.medevit.elexis.inbox.ui.command.ChangeMandantCommand"
            id="at.medevit.elexis.inbox.ui.command.changeMandant"
            name="change mandant">
      </command>
      <command
            defaultHandler="at.medevit.elexis.inbox.ui.command.ActivatePatientCommand"
            id="at.medevit.elexis.inbox.ui.command.activatePatient"
            name="activate patient">
      </command>
      <command
            defaultHandler="at.medevit.elexis.inbox.ui.command.AutoActivePatientHandler"
            id="at.medevit.elexis.inbox.ui.autoSelectPatient"
            name="auto select patient">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:at.medevit.elexis.inbox.ui.view">
         <command
               commandId="at.medevit.elexis.inbox.ui.command.reload"
               icon="rsc/img/refresh.gif"
               label="Neu laden"
               style="push">
         </command>
         <command
               commandId="at.medevit.elexis.inbox.ui.command.expandAll"
               icon="icon://IMG_ARROWDOWN"
               label="Alle Aufklappen"
               style="push">
         </command>
         <command
               commandId="at.medevit.elexis.inbox.ui.command.ignore"
               icon="rsc/img/sausage.png"
               label="Ignorieren"
               style="push">
         </command>
         <command
               commandId="at.medevit.elexis.inbox.ui.autoSelectPatient"
               icon="icon://IMG_PERSON"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:at.medevit.elexis.inbox.ui.view">
         <command
               commandId="at.medevit.elexis.inbox.ui.command.changeMandant"
               icon="rsc/img/user-silhouette-question.png"
               label="Mandant ändern"
               style="push">
         </command>
      </menuContribution>
   </extension>

</plugin>
