<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.Leistungscodes"
            class="ch.medshare.mediport.MediportMainPrefPage"
            id="ch.medshare.mediport_main.prefs"
            name="%MediPortPrefsName">
      </page>
      <page
            category="ch.medshare.mediport_main.prefs"
            class="ch.medshare.mediport.MediportClientSetsPrefPage"
            id="ch.medshare.mediport_clientSets.prefs"
            name="%MediPortConfigPrefsName">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ch.medshare.mediport.MediportStartup">
      </startup>
   </extension>
   <extension
         point="ch.elexis.core.data.RechnungsManager">
      <Rechnung
            localizedName="%MediPort.Rechnung"
            name="MediPort"
            outputter="ch.medshare.mediport.MediportOutputter">
      </Rechnung>
   </extension>

</plugin>
