<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated labortarif -->
      <package
            uri="http://ch.elexis.base/model/labortarif"
            class="ch.elexis.base.ch.labortarif.LabortarifPackage"
            genModel="model/labortarif.genmodel"/>
   </extension>

</plugin>
