<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
 	<extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="ch.elexis.base.messages.MessagePreferences"
            id="ch.elexis.messageprefs"
            name="Nachrichten">
      </page>
   </extension>
	<extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="ch.elexis.base.messages.ActionSet"
            label="Message sender"
            visible="true">
         <action
               class="ch.elexis.base.messages.MessageDelegate"
               icon="icons/balloon.png"
               id="ch.elexis.base.message.show"
               label="Sende Nachricht"
               style="push"
               toolbarPath="MessageGroup"
               tooltip="Nachricht senden"/>
      </actionSet>
   </extension>
</plugin>
