<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.omnivore.views.OmnivoreView">
         <command
               commandId="at.medevit.elexis.emediplan.ui.blueMedicationUpload"
               icon="rsc/bmed_icon_abgleich.png"
               label="BlueMedication Abgleich"
               style="push"
               tooltip="BlueMedication Abgleich">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.omnivore.model.IDocumentHandle">
                     </instanceof>
                  </iterate>
                  <test
                        forcePluginActivation="true"
                        property="at.medevit.elexis.bluemedication.ui.isUploadable">
                  </test>
               </with>
            </visibleWhen>
            <parameter
                  name="at.medevit.elexis.bluemedication.ui.resulttyp"
                  value="chmed">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.omnivoredirect_view">
         <command
               commandId="at.medevit.elexis.emediplan.ui.blueMedicationUpload"
               icon="rsc/bmed_icon_abgleich.png"
               label="BlueMedication Abgleich"
               style="push"
               tooltip="BlueMedication Abgleich">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.omnivore.model.IDocumentHandle">
                     </instanceof>
                  </iterate>
                  <test
                        forcePluginActivation="true"
                        property="at.medevit.elexis.bluemedication.ui.isUploadable">
                  </test>
               </with>
            </visibleWhen>
            <parameter
                  name="at.medevit.elexis.bluemedication.ui.resulttyp"
                  value="chmed">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.omnivore.views.OmnivoreView">
         <command
               commandId="at.medevit.elexis.emediplan.ui.blueMedicationDownload"
               icon="rsc/bmed_icon_extraktion.png"
               label="BlueMedication Medikationsimport"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.omnivore.model.IDocumentHandle">
                     </instanceof>
                  </iterate>
                  <test
                        forcePluginActivation="true"
                        property="at.medevit.elexis.bluemedication.ui.isDownloadable">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.omnivoredirect_view">
         <command
               commandId="at.medevit.elexis.emediplan.ui.blueMedicationDownload"
               icon="rsc/bmed_icon_extraktion.png"
               label="BlueMedication Medikationsimport"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.omnivore.model.IDocumentHandle">
                     </instanceof>
                  </iterate>
                  <test
                        forcePluginActivation="true"
                        property="at.medevit.elexis.bluemedication.ui.isDownloadable">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.omnivore.views.OmnivoreView">
         <command
               commandId="at.medevit.elexis.emediplan.ui.blueMedicationUpload"
               icon="rsc/bmed_icon_extraktion.png"
               label="BlueMedication Extraktion"
               style="push"
               tooltip="BlueMedication Extraktion">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.omnivore.model.IDocumentHandle">
                     </instanceof>
                  </iterate>
                  <test
                        forcePluginActivation="true"
                        property="at.medevit.elexis.bluemedication.ui.isUploadable">
                  </test>
               </with>
            </visibleWhen>
            <parameter
                  name="at.medevit.elexis.bluemedication.ui.resulttyp"
                  value="pdf">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.omnivoredirect_view">
         <command
               commandId="at.medevit.elexis.emediplan.ui.blueMedicationUpload"
               icon="rsc/bmed_icon_extraktion.png"
               label="BlueMedication Extraktion"
               style="push"
               tooltip="BlueMedication Extraktion">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.omnivore.model.IDocumentHandle">
                     </instanceof>
                  </iterate>
                  <test
                        forcePluginActivation="true"
                        property="at.medevit.elexis.bluemedication.ui.isUploadable">
                  </test>
               </with>
            </visibleWhen>
            <parameter
                  name="at.medevit.elexis.bluemedication.ui.resulttyp"
                  value="pdf">
            </parameter>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.core.ui.medication.views.MedicationView">
         <command
               commandId="at.medevit.elexis.emediplan.ui.blueMedicationCheck"
               icon="rsc/bmed_icon_medicheck.png"
               label="BlueMedication Medikationscheck"
               style="push"
               tooltip="BlueMedication Medikationscheck">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.medevit.elexis.bluemedication.ui.handler.BlueMedicationUploadHandler"
            id="at.medevit.elexis.emediplan.ui.blueMedicationUpload"
            name="Blue Medication Upload">
         <commandParameter
               id="at.medevit.elexis.bluemedication.ui.resulttyp"
               name="resulttyp"
               optional="false"
               values="chmed, pdf">
         </commandParameter>
      </command>
      <command
            defaultHandler="at.medevit.elexis.bluemedication.ui.handler.BlueMedicationDownloadHandler"
            id="at.medevit.elexis.emediplan.ui.blueMedicationDownload"
            name="Blue Medication Download">
      </command>
      <command
            defaultHandler="at.medevit.elexis.bluemedication.ui.handler.BlueMedicationCheckHandler"
            id="at.medevit.elexis.emediplan.ui.blueMedicationCheck"
            name="Blue Medication Check">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="at.medevit.elexis.bluemedication.ui.tester.BluemedicationPropertyTester"
            id="at.medevit.elexis.bluemedication.ui.propertyTester"
            namespace="at.medevit.elexis.bluemedication.ui"
            properties="isUploadable, isDownloadable"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="at.medevit.elexis.bluemedication.ui.preference.BlueMedicationPreferencePage"
            id="at.medevit.elexis.emediplan.ui.page1"
            name="BlueMedication">
      </page>
   </extension>

</plugin>
