<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.omnivore.views.OmnivoreView">
         <command
               commandId="at.medevit.elexis.emediplan.ui.blueMedicationUpload"
               icon="rsc/be_icon_16x16_up.png"
               label="BlueMedication Upload"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.omnivore.data.DocHandle">
                     </instanceof>
                  </iterate>
                  <test
                        property="at.medevit.elexis.bluemedication.ui.isUploadable">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.omnivoredirect_view">
         <command
               commandId="at.medevit.elexis.emediplan.ui.blueMedicationUpload"
               icon="rsc/be_icon_16x16_up.png"
               label="BlueMedication Upload"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.omnivore.data.DocHandle">
                     </instanceof>
                  </iterate>
                  <test
                        property="at.medevit.elexis.bluemedication.ui.isUploadable">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.omnivore.views.OmnivoreView">
         <command
               commandId="at.medevit.elexis.emediplan.ui.blueMedicationDownload"
               icon="rsc/be_icon_16x16_down.png"
               label="BlueMedication Download"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.omnivore.data.DocHandle">
                     </instanceof>
                  </iterate>
                  <test
                        property="at.medevit.elexis.bluemedication.ui.isDownloadable">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.omnivoredirect_view">
         <command
               commandId="at.medevit.elexis.emediplan.ui.blueMedicationDownload"
               icon="rsc/be_icon_16x16_down.png"
               label="BlueMedication Download"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.omnivore.data.DocHandle">
                     </instanceof>
                  </iterate>
                  <test
                        property="at.medevit.elexis.bluemedication.ui.isDownloadable">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.medevit.elexis.bluemedication.ui.handler.BlueMedicationUploadHandler"
            id="at.medevit.elexis.emediplan.ui.blueMedicationUpload"
            name="Blue Medication Upload">
      </command>
      <command
            defaultHandler="at.medevit.elexis.bluemedication.ui.handler.BlueMedicationDownloadHandler"
            id="at.medevit.elexis.emediplan.ui.blueMedicationDownload"
            name="Blue Medication Download">
      </command>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="at.medevit.elexis.bluemedication.ui.tester.BluemedicationPropertyTester"
            id="at.medevit.elexis.bluemedication.ui.propertyTester"
            namespace="at.medevit.elexis.bluemedication.ui"
            properties="isUploadable, isDownloadable"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="at.medevit.elexis.bluemedication.ui.preference.BlueMedicationPreferencePage"
            id="at.medevit.elexis.emediplan.ui.page1"
            name="BlueMedication">
      </page>
   </extension>

</plugin>
