<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="ch.elexis.buchhaltung.kategorie"
            class="ch.elexis.buchhaltung.kassenbuch.KassenView"
            icon="icons/sparschwein.ico"
            id="ch.elexis.kassenbuch"
            name="Kassenbuch"/>
      <category
            id="ch.elexis.buchhaltung.kategorie"
            name="Buchhaltung"/>
   </extension>
   <extension
         point="ch.elexis.core.data.PersistentReference">
      <Factory
            Class="ch.elexis.buchhaltung.kassenbuch.KassenbuchEintragFactory"
            name="Kassenbuch"/>
   </extension>
   <extension
         point="ch.elexis.core.ui.TextTemplateRequirement">
      <TextTemplateRequirement
            element="ch.elexis.buchhaltung.kassenbuch.KassenbuchTextTemplateRequirement">
      </TextTemplateRequirement>
   </extension>

</plugin>
