<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 ***********************************************************
 * Copyright (c) 2007, G. Weirich, A. Brögli and A. Häffner
 * All rights reserved. 
 *    
 * $Id: plugin.xml 220 2007-08-20 11:56:05Z gerry $
 ************************************************************
 -->
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.elexis.molemax.views.Overview"
            icon="icons/camera.png"
            id="molemax.overview"
            inject="true"
            name="Molemax"
            restorable="true">
      </view>
      <view
            class="ch.elexis.molemax.views2.ImageOverview"
            icon="icons/ImageIcon.png"
            id="ch.elexis.molemax.view2"
            inject="true"
            name="Molemax Image Viewer">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="ch.elexis.molemax.views.MolemaxPrefs"
            id="molemax.pref2"
            name="MoleMax">
      </page>
      <page
            class="ch.elexis.molemax.views2.MolemaxPrefs"
            id="molemax.pref3"
            name="MoleMaxImageViewer">
      </page>
   </extension>
   <extension
         point="ch.elexis.core.data.PersistentReference">
      <Factory
            Class="ch.elexis.molemax.data.TrackerFactory"
            name="Molemax-Tracker">
      </Factory>
   </extension>

</plugin>
