<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="elementsui" name="ElementsUi" schema="schema/elementsui.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="at.medevit.elexis.inbox.ui.part.InboxView"
            icon="rsc/img/inbox_into.png"
            id="at.medevit.elexis.inbox.ui.view"
            inject="true"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.medevit.elexis.inbox.ui.command.ReloadViewCommand"
            id="at.medevit.elexis.inbox.ui.command.reload"
            name="%command.name.0">
      </command>
      <command
            defaultHandler="at.medevit.elexis.inbox.ui.command.IgnoreCommand"
            id="at.medevit.elexis.inbox.ui.command.ignore"
            name="%command.name.2">
      </command>
      <command
            defaultHandler="at.medevit.elexis.inbox.ui.command.ChangeMandantCommand"
            id="at.medevit.elexis.inbox.ui.command.changeMandant"
            name="%command.name.3">
      </command>
      <command
            defaultHandler="at.medevit.elexis.inbox.ui.command.ActivatePatientCommand"
            id="at.medevit.elexis.inbox.ui.command.activatePatient"
            name="%command.name.4">
      </command>
      <command
            defaultHandler="at.medevit.elexis.inbox.ui.command.AutoActivePatientHandler"
            id="at.medevit.elexis.inbox.ui.autoSelectPatient"
            name="%command.name.5">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="at.medevit.elexis.inbox.ui.command.SelectMandatorCommand"
            id="at.medevit.elexis.inbox.ui.selectMandator"
            name="Mandantenauswahl">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:at.medevit.elexis.inbox.ui.view">
         <command
               commandId="at.medevit.elexis.inbox.ui.command.reload"
               icon="rsc/img/refresh.gif"
               label="%command.label.1"
               style="push">
         </command>
         <command
               commandId="at.medevit.elexis.inbox.ui.command.ignore"
               icon="icon://IMG_DELETE"
               label="%command.label.3"
               style="push">
         </command>
         <command
               commandId="at.medevit.elexis.inbox.ui.autoSelectPatient"
               icon="icon://IMG_PERSON"
               style="toggle">
         </command>
         <command
               commandId="at.medevit.elexis.inbox.ui.selectMandator"
               icon="icon://IMG_FILTER"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:at.medevit.elexis.inbox.ui.view">
         <command
               commandId="at.medevit.elexis.inbox.ui.command.changeMandant"
               icon="rsc/img/user-silhouette-question.png"
               label="%command.label.4"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="ch.elexis.core.ui.dbcheck.ExternalMaintenance">
      <ExternalMaintenance
            MaintenanceCode="at.medevit.elexis.inbox.ui.dbcheck.RemoveInvalidInboxEntries">
      </ExternalMaintenance>
   </extension>

</plugin>
