<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="at.medevit.elexis.ehc.ui.ehcexport">
      <category
            id="at.medevit.elexis.ehc.ui.docbox.category"
            name="Docbox">
      </category>
      <wizard
            category="at.medevit.elexis.ehc.ui.docbox.category"
            class="at.medevit.elexis.ehc.ui.docbox.wizard.ExportPrescriptionWizard"
            id="at.medevit.elexis.ehc.ui.docbox.prescriptionwizard"
            name="eRezept">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.medevit.elexis.ehc.ui.docbox.handler.SendPrescriptionHandler"
            id="at.medevit.elexis.ehc.ui.docbox.sendPrescription"
            name="send Prescription">
      </command>
   </extension>
   <extension
         point="ch.elexis.core.data.OutputLogDescriptor">
      <OutputLogDescriptor
            Outputter="at.medevit.elexis.ehc.ui.docbox.handler.SendPrescriptionHandler"
            id="at.medevit.elexis.ehc.ui.docbox.outputter">
      </OutputLogDescriptor>
   </extension>
   <extension
         point="ch.elexis.core.ui.Transporter">
      <Transporter
            id="at.medevit.elexis.ehc.ui.docbox.outputter"
            name="Docbox Rezept"
            type="ch.elexis.arzttarife_ch.data.Rezept">
      </Transporter>
   </extension>
   <extension
         point="ch.elexis.core.ui.RezeptHook">
      <Hook
            RpToolbarAction="at.medevit.elexis.ehc.ui.docbox.handler.SendPrescriptionAction">
      </Hook>
   </extension>

</plugin>
