<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="at.medevit.ch.artikelstamm.elexis.common.ui.preferences.ArtikelstammPreferencePage"
            id="at.medevit.ch.artikelstamm.elexis.common.ui.preferences.ArtikelstammPreferencePage"
            name="Artikelstamm">
      </page>
   </extension>

 <extension
         point="org.eclipse.ui.decorators">
      <decorator
            class="at.medevit.ch.artikelstamm.elexis.common.ui.decorator.ArtikelstammDecorator"
            id="at.medevit.ch.artikelstamm.ui.ArtikelstammDecorator"
            label="ArtikelstammDecorator"
            lightweight="true"
            objectClass="at.medevit.ch.artikelstamm.ui.IArtikelstammItem"
            state="true">
      </decorator>
   </extension>
 <extension
       point="org.eclipse.ui.handlers">
    <handler
          class="at.medevit.ch.artikelstamm.elexis.common.ui.handlers.OpenArticelDetailDialogHandler"
          commandId="ch.elexis.core.ui.medication.OpenArticelDetailDialog">
       <activeWhen>
          <not>
             <test
                   property="ch.elexis.core.ui.medication.property.isDefaultArticle">
             </test>
          </not>
       </activeWhen>
    </handler>
 </extension>
</plugin>
