<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright Text	Copyright (c) 2018 MEDEVIT <office@medevit.at>....
-->

<plugin>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated arzttarife -->
      <package
            uri="http://ch.elexis.base/model/arzttarife/tarmed"
            class="ch.elexis.base.ch.arzttarife.tarmed.TarmedPackage"
            genModel="arzttarife.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated arzttarife -->
      <package
            uri="http://ch.elexis.base/model/arzttarife/physio"
            class="ch.elexis.base.ch.arzttarife.physio.PhysioPackage"
            genModel="arzttarife.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated arzttarife -->
      <package
            uri="http://ch.elexis.base/model/arzttarife/complementary"
            class="ch.elexis.base.ch.arzttarife.complementary.ComplementaryPackage"
            genModel="arzttarife.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated arzttarife -->
      <package
            uri="http://ch.elexis.base/model/arzttarife/rfe"
            class="ch.elexis.base.ch.arzttarife.rfe.RfePackage"
            genModel="arzttarife.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated arzttarife -->
      <package
            uri="http://ch.elexis.base/model/arzttarife/pandemie"
            class="ch.elexis.base.ch.arzttarife.pandemie.PandemiePackage"
            genModel="arzttarife.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated arzttarife -->
      <package
            uri="http://ch.elexis.base/model/arzttarife/tarmedallowance"
            class="ch.elexis.base.ch.arzttarife.tarmedallowance.TarmedallowancePackage"
            genModel="arzttarife.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated arzttarife -->
      <package
            uri="http://ch.elexis.base/model/arzttarife/nutrition"
            class="ch.elexis.base.ch.arzttarife.nutrition.NutritionPackage"
            genModel="arzttarife.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated arzttarife -->
      <package
            uri="http://ch.elexis.base/model/arzttarife/psycho"
            class="ch.elexis.base.ch.arzttarife.psycho.PsychoPackage"
            genModel="arzttarife.genmodel"/>
   </extension>

</plugin>
