<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.BriefAuswahlView">
         <command
               commandId="at.medevit.elexis.kapsch.referral.ui.send"
               icon="rsc/document.png"
               style="push"
               tooltip="eZuweisung">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.medevit.elexis.kapsch.referral.ui.handler.SendHandler"
            id="at.medevit.elexis.kapsch.referral.ui.send"
            name="send patient">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.transporters"
            class="at.medevit.elexis.kapsch.referral.ui.preferences.KapschReferralPreferences"
            id="at.medevit.elexis.kapsch.referral.ui.preferences"
            name="eZuweisung">
      </page>
   </extension>

</plugin>
