<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="ch.elexis.core.ui.Verrechnungscode">
      <Leistung
            CodeDetailDisplay="ch.elexis.privatrechnung.views.Leistungsdetail"
            CodeSelectorFactory="ch.elexis.privatrechnung.views.Leistungsselektor"
            ImporterClass="ch.elexis.privatrechnung.data.Importer"
            elexisClassName="ch.elexis.privatrechnung.data.Leistung"
            name="%PrivatLeistung.Elexis"
            system="Privat">
      </Leistung>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.Leistungscodes"
            class="ch.elexis.privatrechnung.views.Preferences"
            id="ch.elexis.privatrechnung.prefs"
            name="Privatrechnung">
      </page>
   </extension>
   <extension
         point="ch.elexis.core.data.RechnungsManager">
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="ch.elexis.privatrechnung.rechnung.RnPrintView"
            id="ch.elexis.privatrechnung.view"
            name="Privatrechnung">
      </view>
   </extension>
   <extension
         point="ch.elexis.core.ui.TextTemplateRequirement">
      <TextTemplateRequirement
            element="ch.elexis.privatrechnung.rechnung.PrivaterechnungTextTemplateRequirement">
      </TextTemplateRequirement>
   </extension>

</plugin>
