<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.dauermedikationview">
         <command
               commandId="at.medevit.elexis.epha.interactions.ephasearch"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.core.ui.medication.views.MedicationView">
         <command
               commandId="at.medevit.elexis.epha.interactions.ephasearch"
               label="Medikamenteninteraktion prüfen ..."
               style="push"
               tooltip="Medikamenteninteraktion prüfen ...">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.medevit.elexis.epha.interactions.utils.EphaSearchHandler"
            description="Medikamenteninteraktion prüfen ..."
            id="at.medevit.elexis.epha.interactions.ephasearch"
            name="Medikamenteninteraktion prüfen ...">
      </command>
   </extension>
   <extension
         point="ch.elexis.core.ui.KonsExtension">
      <Link
            KonsExtension="at.medevit.elexis.epha.interactions.EphaApiSearchAction"
            name="at.medevit.elexis.epha.interactions">
      </Link>
   </extension>
   <extension
         point="org.eclipse.ui.commandImages">
      <image
            commandId="at.medevit.elexis.epha.interactions.ephasearch"
            icon="rsc/pill_exclamation.png">
      </image>
   </extension>

</plugin>
