<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.transporters"
            class="ch.elexis.laborimport.bioanalytica.PreferencePage"
            id="ch.elexis.laborimport.bioanalytica.prefs"
            name="Labor Bioanalytica"/>
   </extension>
   <extension
         point="ch.elexis.core.ui.LaborDatenImport">
      <Importer
            Class="ch.elexis.laborimport.bioanalytica.Importer"
            name="Laborimport Bioanalytica">
      </Importer>
   </extension>

</plugin>
