<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.1"?>
<plugin>
   <extension
         point="ch.elexis.core.ui.Diagnosecode">
      <Diagnosesystem
            CodeDetailDisplay="ch.elexis.icpc.DetailDisplay"
            CodeSelectorFactory="ch.elexis.icpc.CodeSelectorFactory"
            ImporterClass="ch.elexis.icpc.IcpcImporter"
            elexisClassName="ch.elexis.icpc.IcpcCode"
            name="ICPC2"
            system="ICPC"/>
   </extension>
   <extension
         point="ch.elexis.core.data.DataAccess">
      <DataAccess
            class="ch.elexis.icpc.DataAccessor"
            name="ICPC">
      </DataAccess>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="ch.elexis.icpcCategory"
            name="ICPC"/>
      <view
            category="ch.elexis.icpcCategory"
            class="ch.elexis.icpc.views.EpisodesView"
            icon="icons/wonca16.png"
            id="ch.elexis.icpc.episodesView"
            inject="true"
            name="Probleme"/>
      <view
            category="ch.elexis.icpcCategory"
            class="ch.elexis.icpc.views.EncounterView"
            icon="icons/wonca16.png"
            id="ch.elexis.icpc.encounterView"
            inject="true"
            name="Encounters"/>
      <view
            allowMultiple="false"
            category="ch.elexis.icpcCategory"
            class="ch.elexis.icpc.views.ICPCCodesView"
            icon="icons/wonca16.png"
            id="ch.elexis.icpc.codesView"
            name="ICPC2-Codes">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.elexis.icpc.views.IcpcPerspektive"
            fixed="false"
            icon="icons/wonca16.png"
            id="ch.elexis.icpc.perspective"
            name="ICPC"/>
   </extension>
   <extension
         point="ch.elexis.core.ui.KonsExtension">
      <Link
            KonsExtension="ch.elexis.icpc.KonsExtension"
            name="ICPC"/>
   </extension>
   <extension
         point="ch.elexis.core.ui.Sidebar">
      <Perspektive
            ID="ch.elexis.icpc.perspective"
            name="ICPC-2"/>
   </extension>

</plugin>
