<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="Textprocessor" name="%Textprozessor" schema="schema/Textprocessor.exsd"/>
   <extension
         point="ch.elexis.core.ui.Text">
      <Texterweiterung
            Klasse="ch.medelexis.templator.ui.TextPluginImpl"
            name="Medelexis Templator">
      </Texterweiterung>
   </extension>
   <extension
         point="ch.medelexis.text.templator.Textprocessor">
      <Textprocessor
            Name="OpenOffice-Prozessor"
            clazz="ch.medelexis.templator.model.OpenOfficeProcessor"
            name="OpenOffice-Processor">
      </Textprocessor>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.Texterstellung"
            class="ch.medelexis.templator.ui.Preferences"
            id="ch.medelexis.text.templator.Preferences"
            name="%Text_Templator">
      </page>
      <page
            category="ch.medelexis.text.templator.Preferences"
            class="ch.medelexis.templator.ui.OOOProcessorPrefs"
            id="ch.medelexis.text.templator.oooprocessor.preferences"
            name="OpenOffice.org Processor">
      </page>
   </extension>

</plugin>
