<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="com.hilotec.elexis.kgview.category"
            name="Hilotec KG">
      </category>
      <view
            category="com.hilotec.elexis.kgview.category"
            class="com.hilotec.elexis.kgview.medikarte.MedikarteView"
            id="com.hilotec.elexis.kgview.MedikarteView"
            name="Medikation"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category"
            class="com.hilotec.elexis.kgview.ArchivKG"
            id="com.hilotec.elexis.kgview.ArchivKG"
            name="Archiv-KG"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category"
            class="com.hilotec.elexis.kgview.ArchivKGPrintView"
            id="com.hilotec.elexis.kgview.ArvchivKGPrintView"
            name="Archiv-KG Drucken"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category"
            class="com.hilotec.elexis.kgview.diagnoseliste.DiagnoselisteView"
            id="com.hilotec.elexis.kgview.DiagnoselisteView"
            name="Diagnoseliste"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category"
            class="com.hilotec.elexis.kgview.diagnoseliste.DLPersAnamnese"
            id="com.hilotec.elexis.kgview.DLPersAnamnese"
            name="DL Persönliche Anamnese"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category"
            class="com.hilotec.elexis.kgview.diagnoseliste.DLSysAnamnese"
            id="com.hilotec.elexis.kgview.DLSysAnamnese"
            name="DL Systemanamnese"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category"
            class="com.hilotec.elexis.kgview.KonsTimeView"
            id="com.hilotec.elexis.kgview.KonsTimeView"
            name="Konsultationszeit"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category"
            class="com.hilotec.elexis.kgview.KonsTimerView"
            id="com.hilotec.elexis.kgview.KonsTimerView"
            name="Konsultationstimer"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category"
            class="com.hilotec.elexis.kgview.medikarte.FavMedikamentListe"
            id="com.hilotec.elexis.kgview.medikarte.FavMedikamentListe"
            name="Favoriten-Medikamentenliste"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category"
            class="com.hilotec.elexis.kgview.Problemliste"
            id="com.hilotec.elexis.kgview.Problemliste"
            name="Problemliste"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category"
            class="com.hilotec.elexis.kgview.Konsliste"
            id="com.hilotec.elexis.kgview.Konsliste"
            name="Konsliste"
            restorable="true">
      </view>
      <category
            id="com.hilotec.elexis.kgview.category.patientenfelder"
            name="Hilotec KG - Patientenfelder">
      </category>
      <view
            category="com.hilotec.elexis.kgview.category.patientenfelder"
            class="com.hilotec.elexis.kgview.patientenfelder.SysAnamneseView"
            id="com.hilotec.elexis.kgview.SysAnamneseView"
            name="Systemanamnese"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category.patientenfelder"
            class="com.hilotec.elexis.kgview.patientenfelder.SozAnamneseView"
            id="com.hilotec.elexis.kgview.SozAnamneseView"
            name="Sozialanamnese"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category.patientenfelder"
            class="com.hilotec.elexis.kgview.patientenfelder.FamAnamneseView"
            id="com.hilotec.elexis.kgview.FamAnamneseView"
            name="Familienanamnese"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category.patientenfelder"
            class="com.hilotec.elexis.kgview.patientenfelder.PersAnamneseView"
            id="com.hilotec.elexis.kgview.PersAnamneseView"
            name="Persönliche Anamnese"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category.patientenfelder"
            class="com.hilotec.elexis.kgview.patientenfelder.RisikoFView"
            id="com.hilotec.elexis.kgview.RisikoFView"
            name="Risikofaktoren"
            restorable="true">
      </view>
      <category
            id="com.hilotec.elexis.kgview.category.konsfelder"
            name="Hilotec KG - Konsultationsfelder">
      </category>
      <view
            category="com.hilotec.elexis.kgview.category.konsfelder"
            class="com.hilotec.elexis.kgview.konsultationsfeld.AllgemeinStView"
            id="com.hilotec.elexis.kgview.AllgemeinStView"
            name="Allgemeinstatus"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category.konsfelder"
            class="com.hilotec.elexis.kgview.konsultationsfeld.LokalStView"
            id="com.hilotec.elexis.kgview.LokalStView"
            name="Status"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category.konsfelder"
            class="com.hilotec.elexis.kgview.konsultationsfeld.DiagnoseView"
            id="com.hilotec.elexis.kgview.DiagnoseView"
            name="Diagnose"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category.konsfelder"
            class="com.hilotec.elexis.kgview.konsultationsfeld.JetzLeidenView"
            id="com.hilotec.elexis.kgview.JetzLeidenView"
            name="Jetziges Leiden"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category.konsfelder"
            class="com.hilotec.elexis.kgview.konsultationsfeld.ProzedereView"
            id="com.hilotec.elexis.kgview.ProzedereView"
            name="Prozedere"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category.konsfelder"
            class="com.hilotec.elexis.kgview.konsultationsfeld.TherapieView"
            id="com.hilotec.elexis.kgview.TherapieView"
            name="Therapie"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category.konsfelder"
            class="com.hilotec.elexis.kgview.konsultationsfeld.VerlaufView"
            id="com.hilotec.elexis.kgview.VerlaufView"
            name="Verlauf"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category.konsfelder"
            class="com.hilotec.elexis.kgview.konsultationsfeld.RoentgenView"
            id="com.hilotec.elexis.kgview.RoentgenView"
            name="Röntgen"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category.konsfelder"
            class="com.hilotec.elexis.kgview.konsultationsfeld.EKGView"
            id="com.hilotec.elexis.kgview.EKGView"
            name="EKG"
            restorable="true">
      </view>
      <view
            category="com.hilotec.elexis.kgview.category"
            class="com.hilotec.elexis.kgview.Therapieliste"
            id="com.hilotec.elexis.kgview.Therapieliste"
            name="Therapieliste"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="com.hilotec.elexis.kgview.KGViewPerspektive"
            icon="rsc/hilotec.png"
            id="com.hilotec.elexis.kgview.KGViewPerspektive"
            name="Hilotec KG">
      </perspective>
   </extension>
   <extension
         point="ch.elexis.core.data.PersistentReference">
      <Factory
            Class="com.hilotec.elexis.kgview.data.KonsDataFactory"
            name="KonsData">
      </Factory>
      <Factory
            Class="com.hilotec.elexis.kgview.data.FavMedikamentFactory"
            name="FavMedikament">
      </Factory>
      <Factory
            Class="com.hilotec.elexis.kgview.diagnoseliste.DLIFactory"
            name="DiagnoselisteItem">
      </Factory>
   </extension>
   <extension
         point="ch.elexis.core.ui.Sidebar">
      <Perspektive
            ID="com.hilotec.elexis.kgview.KGViewPerspektive"
            name="Hilotec KG">
      </Perspektive>
   </extension>
   <extension
         point="ch.elexis.core.data.DataAccess">
      <DataAccess
            class="com.hilotec.elexis.kgview.data.DataAccessor"
            name="HilotecKG">
      </DataAccess>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="com.hilotec.elexis.kgview.Preferences"
            id="com.hilotec.elexis.kgview.preferences"
            name="Hilotec kgview">
      </page>
   </extension>

</plugin>
