<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="ehcexport" name="EhcExport" schema="schema/ehcexport.exsd"/>
   <extension-point id="ehcimport" name="EhcImport" schema="schema/ehcimport.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="at.medevit.elexis.ehc.ui.views.EHealthConnectorView"
            icon="icons/ehc.jpg"
            id="at.medevit.elexis.eHealthConnectorView"
            name="eHealthConnector"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.medevit.elexis.ehc.ui.handler.CreateDocumentHandler"
            id="at.medevit.elexis.ehc.ui.createDocument"
            name="%name.command.Create">
      </command>
      <command
            defaultHandler="at.medevit.elexis.ehc.ui.handler.ImportDocumentHandler"
            id="at.medevit.elexis.ehc.ui.importDocument"
            name="%name.command.Import">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.BriefAuswahlView">
         <command
               commandId="at.medevit.elexis.ehc.ui.createDocument"
               icon="icons/ehc.jpg"
               label="%command.label.Create"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:at.medevit.elexis.eHealthConnectorView">
         <command
               commandId="at.medevit.elexis.ehc.ui.importDocument"
               icon="icons/ehc.jpg"
               label="%name.command.Import"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.transporters"
            class="at.medevit.elexis.ehc.ui.preference.PreferencePage"
            id="at.medevit.elexis.ehc.ui.preference"
            name="eHC">
      </page>
   </extension>
   <extension
         point="at.medevit.elexis.inbox.elementsprovider">
      <provider
            class="at.medevit.elexis.ehc.ui.inbox.InboxElementsProvider"
            id="at.medevit.elexis.ehc.ui.inbox.elementsprovider">
      </provider>
   </extension>
   <extension
         point="at.medevit.elexis.inbox.ui.elementsui">
      <uiprovider
            class="at.medevit.elexis.ehc.ui.inbox.InboxElementUiProvider"
            id="at.medevit.elexis.ehc.ui.inbox.uiprovider">
      </uiprovider>
   </extension>
   <extension
         point="ch.elexis.core.data.PersistentReference">
      <Factory
            Class="at.medevit.elexis.ehc.ui.model.EhcDocumentObjectFactory">
      </Factory>
   </extension>

</plugin>
