<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.transporters"
            class="ch.elexis.global_inbox.Preferences"
            id="ch.elexis.global_inbox.Prefs"
            name="Eingangsfach">
      </page>
      <page
            category="ch.elexis.preferences.transporters/ch.elexis.global_inbox.Prefs"
            class="ch.elexis.global_inbox.preferencepage.TitleCompletionPreferencePage"
            id="ch.elexis.global_inbox.preferencepage.titlecompletion"
            name="Titel-Vervollständigung">
      </page>
      <page
            category="ch.elexis.preferences.transporters"
            class="ch.elexis.global_inbox.PreferencesServer"
            id="ch.elexis.global_inbox.Prefs"
            name="Automatiesiertes Eingangsfach">
      </page>
   </extension>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
</plugin>
