<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.transporters"
            class="ch.elexis.global_inbox.Preferences"
            id="ch.elexis.global_inbox.Prefs"
            name="Eingangsfach">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            category="ch.elexis.textKategorie"
            class="ch.elexis.global_inbox.InboxView"
            icon="icons/inbox.jpg"
            id="ch.elexis.global_inbox.view"
            name="%Eingangsfach"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="ch.elexis.global_inbox.Activator">
      </startup>
   </extension>

</plugin>
