<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="at.medevit.elexis.ehc.ui.ehcexport">
      <category
            id="at.medevit.elexis.ehc.ui.vacdoc.category"
            name="Impfungen">
      </category>
      <wizard
            category="at.medevit.elexis.ehc.ui.vacdoc.category"
            class="at.medevit.elexis.ehc.ui.vacdoc.wizard.ExportVaccinationsWizard"
            id="at.medevit.elexis.ehc.ui.vacdoc.wizard.export"
            name="Impfungen">
      </wizard>
   </extension>
   <extension
         point="at.medevit.elexis.ehc.ui.ehcimport">
      <category
            id="at.medevit.elexis.ehc.ui.vacdoc.category"
            name="Impfungen">
      </category>
      <wizard
            category="at.medevit.elexis.ehc.ui.vacdoc.category"
            class="at.medevit.elexis.ehc.ui.vacdoc.wizard.ImportVaccinationsWizard"
            id="at.medevit.elexis.ehc.ui.vacdoc.wizard.import"
            name="Impfungen">
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:at.medevit.elexis.impfplan.ui.ImpfplanViewPart.contextMenu">
         <separator
               name="at.medevit.elexis.ehc.ui.vacdoc.separator1"
               visible="true">
         </separator>
         <command
               commandId="at.medevit.elexis.ehc.ui.vacdoc.CdaOutboxHandler"
               icon="rsc/outbox_into.png"
               label="CDA in Outbox"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="at.medevit.elexis.ehc.ui.vacdoc.CdaOutboxHandler"
            name="outbox cda handler">
      </command>
      <command
            defaultHandler="at.medevit.elexis.ehc.ui.vacdoc.handler.CreateXdmHandler"
            id="at.medevit.elexis.ehc.ui.vacdoc.CreateXdmHandler"
            name="xdm handler">
         <commandParameter
               id="at.medevit.elexis.ehc.ui.vacdoc.attachments"
               name="patient id"
               optional="true">
         </commandParameter>
         <commandParameter
               id="at.medevit.elexis.ehc.ui.vacdoc.patient.id"
               name="patient id"
               optional="true">
         </commandParameter>
         <commandParameter
               id="at.medevit.elexis.ehc.ui.vacdoc.tmp.dir"
               name="temp directory"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="at.medevit.elexis.ehc.ui.preference"
            class="at.medevit.elexis.ehc.ui.vacdoc.preferences.MeineImpfungenPreferences"
            id="at.medevit.elexis.ehc.ui.vacdoc.preferences.meineimpfungen"
            name="meineimpfungen">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="at.medevit.elexis.ehc.ui.vacdoc.handler.OpenMeineImpfungenHandler"
            commandId="at.medevit.elexis.ehc.ui.vacdoc.OpenMeineImpfungen">
         <enabledWhen>
            <test
                  property="at.medevit.elexis.ehc.ui.vacdoc.enabled">
            </test></enabledWhen>
      </handler>
      <handler
            class="at.medevit.elexis.ehc.ui.vacdoc.handler.UploadMeineImpfungenHandler"
            commandId="at.medevit.elexis.ehc.ui.vacdoc.UploadMeineImpfungen">
         <enabledWhen>
            <test
                  property="at.medevit.elexis.ehc.ui.vacdoc.enabled">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="at.medevit.elexis.ehc.ui.vacdoc.handler.CdaOutboxHandler"
            commandId="at.medevit.elexis.ehc.ui.vacdoc.CdaOutboxHandler">
      </handler>
      <handler
            class="at.medevit.elexis.ehc.ui.vacdoc.handler.DownloadMeineImpfungenHandler"
            commandId="at.medevit.elexis.ehc.ui.vacdoc.DownloadMeineImpfungen">
         <enabledWhen>
            <test
                  property="at.medevit.elexis.ehc.ui.vacdoc.enabled">
            </test>
         </enabledWhen>
      </handler>
   </extension>

</plugin>
