<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.medevit.elexis.emediplan.ui.handler.CreateAndOpenHandler"
            id="at.medevit.elexis.emediplan.ui.createAndOpen"
            name="%command.name.createAndOpen">
      </command>
      <command
            defaultHandler="at.medevit.elexis.emediplan.ui.handler.DebugImportHandler"
            id="at.medevit.elexis.emediplan.ui.debugImport"
            name="debugImport">
      </command>
      <command
            defaultHandler="at.medevit.elexis.emediplan.ui.handler.BlueMedicationUploadHandler"
            id="at.medevit.elexis.emediplan.ui.blueMedicationUpload"
            name="Blue Medication Upload">
      </command>
      <command
            defaultHandler="at.medevit.elexis.emediplan.ui.handler.BlueMedicationDownloadHandler"
            id="at.medevit.elexis.emediplan.ui.blueMedicationDownload"
            name="Blue Medication Download">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.core.ui.medication.views.MedicationView">
         <command
               commandId="at.medevit.elexis.emediplan.ui.createAndOpen"
               icon="rsc/logo.png"
               label="%label.createAndOpen"
               style="push">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.omnivore.views.OmnivoreView">
         <command
               commandId="at.medevit.elexis.emediplan.ui.blueMedicationUpload"
               icon="rsc/be_icon_16x16_up.png"
               label="Blue Medication Upload"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.omnivore.data.DocHandle">
                     </instanceof>
                  </iterate>
                  <test
                        property="at.medevit.elexis.emediplan.ui.isUploadable">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.omnivoredirect_view">
         <command
               commandId="at.medevit.elexis.emediplan.ui.blueMedicationUpload"
               icon="rsc/be_icon_16x16_up.png"
               label="Blue Medication Upload"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.omnivore.data.DocHandle">
                     </instanceof>
                  </iterate>
                  <test
                        property="at.medevit.elexis.emediplan.ui.isUploadable">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.omnivore.views.OmnivoreView">
         <command
               commandId="at.medevit.elexis.emediplan.ui.blueMedicationDownload"
               icon="rsc/be_icon_16x16_down.png"
               label="Blue Medication Download"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.omnivore.data.DocHandle">
                     </instanceof>
                  </iterate>
                  <test
                        property="at.medevit.elexis.emediplan.ui.isDownloadable">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.omnivoredirect_view">
         <command
               commandId="at.medevit.elexis.emediplan.ui.blueMedicationDownload"
               icon="rsc/be_icon_16x16_down.png"
               label="Blue Medication Download"
               style="push">
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="org.eclipse.ui.selection">
                  <not>
                     <count
                           value="0">
                     </count>
                  </not>
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <instanceof
                           value="ch.elexis.omnivore.data.DocHandle">
                     </instanceof>
                  </iterate>
                  <test
                        property="at.medevit.elexis.emediplan.ui.isDownloadable">
                  </test>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="at.medevit.elexis.emediplan.Startup">
      </startup>
   </extension>
   <extension
         point="at.medevit.elexis.inbox.ui.elementsui">
      <uiprovider
            class="at.medevit.elexis.emediplan.inbox.EMediplanUiProvider"
            id="at.medevit.elexis.emediplan.inbox.uiprovider">
      </uiprovider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="at.medevit.elexis.emediplan.ui.tester.EMediplanPropertyTester"
            id="at.medevit.elexis.emediplan.ui.propertyTester"
            namespace="at.medevit.elexis.emediplan.ui"
            properties="isUploadable, isDownloadable"
            type="java.lang.Object">
      </propertyTester>
   </extension>

</plugin>
