<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.medevit.elexis.emediplan.ui.handler.CreateAndOpenHandler"
            id="at.medevit.elexis.emediplan.ui.createAndOpen"
            name="%command.name.createAndOpen">
      </command>
      <command
            defaultHandler="at.medevit.elexis.emediplan.ui.handler.DebugImportHandler"
            id="at.medevit.elexis.emediplan.ui.debugImport"
            name="debugImport">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.core.ui.medication.views.MedicationView">
         <command
               commandId="at.medevit.elexis.emediplan.ui.createAndOpen"
               icon="rsc/logo.png"
               label="%label.createAndOpen"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="at.medevit.elexis.emediplan.Startup">
      </startup>
   </extension>
   <extension
         point="at.medevit.elexis.inbox.ui.elementsui">
      <uiprovider
            class="at.medevit.elexis.emediplan.inbox.EMediplanUiProvider"
            id="at.medevit.elexis.emediplan.inbox.uiprovider">
      </uiprovider>
   </extension>

</plugin>
