<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.medevit.elexis.emediplan.ui.handler.CreateAndOpenHandler"
            id="at.medevit.elexis.emediplan.ui.createAndOpen"
            name="Create and Open eMediplan">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:ch.elexis.core.ui.medication.views.MedicationView">
         <command
               commandId="at.medevit.elexis.emediplan.ui.createAndOpen"
               icon="rsc/logo.png"
               label="eMediplan erstellen und öffnen"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="at.medevit.elexis.emediplan.Startup">
      </startup>
   </extension>

</plugin>
