<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="at.medevit.elexis.inbox.ui.elementsui">
      <uiprovider
            class="at.medevit.elexis.inbox.core.ui.LabResultUiProvider"
            id="at.medevit.elexis.inbox.core.ui.uiprovider">
      </uiprovider>
      <uiprovider
            class="at.medevit.elexis.inbox.core.ui.FileUiProvider"
            id="at.medevit.elexis.inbox.core.ui.uiprovider.file">
      </uiprovider>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="ch.elexis.preferences.UserPreferences"
            class="at.medevit.elexis.inbox.core.ui.preferences.InboxPreferences"
            id="at.medevit.elexis.inbox.core.ui.preferences"
            name="Inbox">
      </page>
   </extension>

</plugin>
