<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="elementsui" name="%extension-point.name" schema="schema/elementsui.exsd"/>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="at.medevit.elexis.outbox.ui.part.OutboxView"
            icon="rsc/img/outbox_into.png"
            id="at.medevit.elexis.outbox.ui.view"
            name="%view.name"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="at.medevit.elexis.outbox.ui.command.ReloadViewCommand"
            id="at.medevit.elexis.outbox.ui.command.reload"
            name="%command.name.0">
      </command>
      <command
            defaultHandler="at.medevit.elexis.outbox.ui.command.ExpandAllCommand"
            id="at.medevit.elexis.outbox.ui.command.expandAll"
            name="%command.name.1">
      </command>
      <command
            defaultHandler="at.medevit.elexis.outbox.ui.command.ActivatePatientCommand"
            id="at.medevit.elexis.outbox.ui.command.activatePatient"
            name="%command.name.2">
      </command>
      <command
            defaultHandler="at.medevit.elexis.outbox.ui.command.AutoActivePatientHandler"
            id="at.medevit.elexis.outbox.ui.autoSelectPatient"
            name="%command.name.3">
         <state
               class="org.eclipse.ui.handlers.RegistryToggleState:false"
               id="org.eclipse.ui.commands.toggleState">
         </state>
      </command>
      <command
            defaultHandler="at.medevit.elexis.outbox.ui.command.OutboxSendHandler"
            id="at.medevit.elexis.outbox.ui.command.sendAsMail"
            name="%command.name.4">
      </command>
      <command
            defaultHandler="at.medevit.elexis.outbox.ui.command.OutboxDeleteHandler"
            id="at.medevit.elexis.outbox.ui.command.entfernen"
            name="%command.name.5">
      </command>
      <command
            defaultHandler="at.medevit.elexis.outbox.ui.command.CreateOutboxElementHandler"
            id="at.medevit.elexis.outbox.ui.command.createElement"
            name="%command.name.6">
      </command>
      <command
            id="at.medevit.elexis.outbox.ui.command.sendAsMailXDM"
            name="sendAsXDM">
      </command>
      <command
            id="at.medevit.elexis.outbox.ui.command.createElementNoUi"
            name="Create Element No UI">
         <commandParameter
               id="at.medevit.elexis.outbox.ui.command.createElementNoUi.dburi"
               name="dburi"
               optional="true">
         </commandParameter>
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="toolbar:at.medevit.elexis.outbox.ui.view">
         <command
               commandId="at.medevit.elexis.outbox.ui.command.reload"
               icon="rsc/img/refresh.gif"
               label="%command.label.1"
               style="push">
         </command>
         <command
               commandId="at.medevit.elexis.outbox.ui.command.expandAll"
               icon="icon://IMG_ARROWDOWN"
               label="%command.label.2"
               style="push">
         </command>
         <command
               commandId="at.medevit.elexis.outbox.ui.autoSelectPatient"
               icon="icon://IMG_PERSON"
               style="toggle">
         </command>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:at.medevit.elexis.outbox.ui.view">
         <command
               commandId="at.medevit.elexis.outbox.ui.command.entfernen"
               label="%command.label.3"
               style="push">
         </command>
         <menu
               icon="icon://IMG_MAIL_SEND"
               label="%command.label.4">
            <command
                  commandId="at.medevit.elexis.outbox.ui.command.sendAsMail"
                  label="%command.label.5"
                  style="push">
            </command>
            <command
                  commandId="at.medevit.elexis.outbox.ui.command.sendAsMailXDM"
                  label="%command.label.6"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="popup:ch.elexis.core.ui.documents.views.DocumentsView">
         <command
               commandId="at.medevit.elexis.outbox.ui.command.createElement"
               icon="rsc/img/outbox_into.png"
               label="%command.label.7"
               style="push">
         </command>
      </menuContribution>
   </extension>
   <extension
         point="at.medevit.elexis.outbox.ui.elementsui">
      <uiprovider
            class="at.medevit.elexis.outbox.ui.DefaultOutboxElementLabelProvider"
            id="at.medevit.elexis.outbox.ui.defaultOutboxElementLabelProvider">
      </uiprovider>
   </extension>
   <extension
         point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
            class="at.medevit.elexis.outbox.ui.propertytester.PropertyTester"
            id="at.medevit.elexis.outbox.ui.propertytester.xdm"
            namespace="at.medevit.elexis.outbox.ui.propertytester"
            properties="enabled"
            type="java.lang.Object">
      </propertyTester>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="at.medevit.elexis.outbox.ui.command.OutboxSendHandler"
            commandId="at.medevit.elexis.outbox.ui.command.sendAsMailXDM">
         <enabledWhen>
            <test
                  property="at.medevit.elexis.outbox.ui.propertytester.enabled">
            </test>
         </enabledWhen>
      </handler>
      <handler
            class="at.medevit.elexis.outbox.ui.command.CreateOutboxElementNoUiHandler"
            commandId="at.medevit.elexis.outbox.ui.command.createElementNoUi">
      </handler>
   </extension>

</plugin>
