.ui-calendar-icon
{
	background-image: url("lib/cupertino/images/ui-icons_222222_256x240.png");
	position: absolute;
	right: 0;
	background-color: #efefef;
	border-bottom-left-radius: 5px;
}
.fc-icon-refresh:after {
	content: "\21BB";
	font-weight: bold;
	font-size: 120%;
	top: -7%;
}
.event-status-block {
	border-style: solid;
	border-width: 0px 10px 0px 0px;
	height: 100%;
}